
<div class="container">
    <form [formGroup]="categoriaForm" (ngSubmit)="realizarAccion()" >
        <div class="row">
            <p-divider align="left" type="dashed">
                <b>Categoria</b>
            </p-divider>
            
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <!-- Id -->
                <!-- <div class="field">
                    <label for="codigo" class="block">Id</label>
                    <input   
                            type="number" 
                            class="w-100"
                            pInputText />
            
                </div> -->

                <div class="field">
                    <label for="nombre" class="block">Nombre </label>
                    <input  type="text" 
                            class="w-100" 
                            [ngClass]="{'ng-invalid ng-dirty' : verificarCampo('nombre')}"
                            pInputText 
                            formControlName="nombre"/>
                    <small  class="p-error block"
                            *ngIf="verificarCampo('nombre')">
                            El nombre es requerido.
                    </small>
                </div>
               

                <div class="field">
                    <label for="nombre" class="block">codigo </label>
                    <input  type="text" 
                            class="w-100" 
                            [ngClass]="{'ng-invalid ng-dirty' : verificarCampo('codigo')}"
                            pInputText 
                            formControlName="codigo"/>
                    <small  class="p-error block"
                            *ngIf="verificarCampo('codigo')">
                            El codigo es requerido.
                    </small>
                </div>
            </div>
        </div>



    <!-- button -->
    <div class="row">
        <div class="col-12 d-flex justify-content-evenly">
            <button pButton 
                    pRipple 
                    type="button" 
                    label="Cancelar" 
                    icon="pi pi-times" 
                    class="p-button-outlined p-button-danger" 
                    iconPos="right"
                    routerLink="listar">
            </button>
            <button pButton 
                    pRipple type="submit" 
                    label="Guardar" 
                    icon="pi pi-save" 
                    iconPos="right"
                    [disabled]="categoriaForm.pending"
                    >
            </button>
        </div>
    </div>
    </form>
</div>