<div class="container-fluid page">
    <div class="centro">
        <div class="d-flex page__box p-3 mt-2">Bitacora de Registro de Documentos</div>
        <div class="page__content shadow p-3 position-relative">
            <br>

            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                        (click)="openNew()"></button>

                </ng-template>
            </p-toolbar>
            
            <span class="card mt-2">
                <p-table [value]="bitacoras" responsiveLayout="scroll" [paginator]="true" [rows]="7"
                    [rowsPerPageOptions]="[7,14]" [rowHover]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="text-align: center">Código</th>
                            <th style="text-align: center">Documento / Tipo</th>
                            <th style="text-align: center">Solicitante</th>
                            <th style="text-align: center">Emisor</th>
                            <th style="text-align: center">Fecha</th>
                            <th style="text-align: center">Hora</th>
                            <th style="text-align: center">Estado</th>
                            <th style="text-align: center">Descripción</th>
                            <th style="text-align: center">Procesar</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-bitacora>
                        <tr>
                            <td style="text-align: center">{{bitacora.id_registro_bitacora}}</td>
                            <td style="text-align: center">{{bitacora.documento.tipo_documento}}</td>
                            <td style="text-align: center">{{bitacora.solicitante | titlecase}}</td>
                            <td style="text-align: center">{{bitacora.emisor | titlecase}}</td>
                            <td style="text-align: center">{{bitacora.fecha | date: 'MMMM dd, yyyy'}}</td>
                            <td style="text-align: center">{{bitacora.fecha | date:'HH:mm:ss'}}</td>
                            <td style="text-align: center">{{bitacora.estado}}</td>
                            <td style="text-align: center">{{bitacora.documento.descripcion}}</td>
                            <td *ngIf="bitacora.estado==='Pendiente'||bitacora.estado==='PENDIENTE'">
                                <button type="submit" class="btn btn-dark" style="margin-left: 10%;"
                                    (click)="procesar(bitacora)">Procesar</button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>





                <p-dialog [(visible)]="comprobanteDialog" [style]="{width: '450px'}" header="Comprobante" [modal]="true"
                    styleClass="p-fluid">
                    <ng-template pTemplate="content">


                        <form [formGroup]="addForm">
                            <br>
                            <div class="centro">
                                <label><b>Solicitante: </b></label>
                                <input type="text" pInputText formControlName="solicitante"
                                    placeholder="Ingrese soliciante" name="solicitante" class="form-control"
                                    id="solicitante">
                            </div>
                            <br>
                            <div class="centro">
                                <label><b>Emisor: </b></label>
                                <input type="text" pInputText formControlName="emisor" placeholder="Ingrese emisor"
                                    name="emisor" class="form-control" id="emisor">
                            </div>
                            <br>
                            <div class="centro">
                                <label><b>Documento: </b></label>
                                <form [formGroup]="documentoFormulario">
                                    <select formControlName="documentSelec"
                                        style="text-align: center ; margin-left: 16%;">
                                        <option *ngFor="let objeto of documentos" [value]="objeto.id_documento"
                                            [selected]="0">
                                            {{objeto.tipo_documento}}
                                        </option>
                                    </select>
                                </form>
                            </div>
                            <br>


                        </form>


                    </ng-template>


                    <ng-template pTemplate="footer">
                        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                            (click)="hideDialog()"></button>
                        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                            (click)="ingreso()"></button>
                    </ng-template>


                </p-dialog>
            </span>
        </div>
    </div>
</div>