<div class="card" >
    <p-table #dt [value]="kits" [rows]="10" [paginator]="true" [globalFilterFields]="['nombrekit','precioKit','periodo']" responsiveLayout="scroll"
        [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nombrekit">Nombre <p-sortIcon field="nombrekit"></p-sortIcon></th>
                <th pSortableColumn="precioKit">Precio <p-sortIcon field="precioKit"></p-sortIcon></th>
                <th pSortableColumn="periodo">Periodo <p-sortIcon field="periodo"></p-sortIcon></th>
                <th>Módulos</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-kits>
            <tr>
                <td >
                    No hay Kits
                </td>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-kit>
            <tr>

                <td>{{kit.nombrekit}}</td>
                <td>{{kit.precioKit}}</td>
                <td>{{kit.periodo.fecha_inicio+' '+kit.periodo.fecha_fin}}</td>
                <td>
                    <div class="" *ngIf="kit.listaModulos.length > 0; else cero">
                        <button pButton 
                                pRipple 
                                icon="pi pi-eye" 
                                label="{{kit.listaModulos.length}}" 
                                class="p-button-rounded p-button-help"
                                (click)="showDialog(kit)">
                        </button>
                    </div>
                    <ng-template #cero>0</ng-template>
                    
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" [routerLink]="['/inventariosModule/kit/editar/', kit.id_kit]"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="eliminarKit(kit)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{kits ? kits.length : 0 }} kits.
            </div>
        </ng-template>
    </p-table>
</div>


<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<p-dialog header="Módulos" [(visible)]="displayModulos" [style]="{width: '50vw'}">
    <div class="" *ngIf="selectKit?.listaModulos">
        <p-table [value]="selectKit?.listaModulos!" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Cod</th>
                    <th>Nombre</th>
                    <th>Curso</th>
                    <th>Catidad</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-modulo>
                <tr>
                    <td>{{modulo.codModulo}}</td>
                    <td>{{modulo.nombreModulo}}</td>
                    <td>{{modulo.curso}}</td>
                    <td>{{modulo.cantidad}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="closeDialog()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>