<div class="card" >
    <p-table #dt [value]="stockArticulos" [rows]="10" [paginator]="true" [globalFilterFields]="['categoria']" responsiveLayout="scroll"
        [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="categoria">Categoria <p-sortIcon field="categoria"></p-sortIcon></th>
                <th pSortableColumn="cantidad">Cantidad<p-sortIcon field="cantidad"></p-sortIcon></th>
                <th>Ver articulos</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-inventario>
            <tr>
                <td >
                    No hay registros
                </td>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-stockArticulo>
            <tr>

                <td>{{stockArticulo.categoria}}</td>
                <td>{{stockArticulo.cantidad}}</td>
                <td>
                    <div class=" d-flex align-items-center">
                        {{stockArticulo.listaArticulos.length}}
                        <button pButton pRipple icon="pi pi-eye" class="ml-1 p-button-rounded p-button-secondary p-button-outlined" (click)="showDialog(stockArticulo)"></button>
                    </div>
                </td>
                <td>
                    <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" [routerLink]="['/inventariosModule/inventario/editar/', inventario.id_inventario]"></button> -->
                    <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="eliminarInventario(inventario)"></button> -->
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{stockArticulos ? stockArticulos.length : 0 }} articulos en stock.
            </div>
        </ng-template>
    </p-table>
</div>


<p-confirmDialog [style]="{width: '650px'}"></p-confirmDialog>
<p-dialog header="Articulo" [(visible)]="displayArticulos" [style]="{width: '60vw'}" styleClass="p-fluid" >
    <div class="" *ngIf="selectStockArticulo?.listaArticulos">
        <p-table [value]="selectStockArticulo?.listaArticulos!"  [rows]="5"  [paginator]="true" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Cod</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Disponibilidad</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-articulo>
                <tr>
                    <td>{{articulo.articodigo}}</td>
                    <td>{{articulo.artinombre}}</td>
                    <td>{{articulo.artidescrip}}</td>
                    <td>{{articulo.artiestado}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    En total hay {{selectStockArticulo?.listaArticulos   ? selectStockArticulo?.listaArticulos?.length : 0 }} articulos en stock.
                </div>
            </ng-template>
        </p-table>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="closeDialog()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>