<div *ngIf="authValidate">
    <mat-toolbar>
        <mat-toolbar-row class="justify-content-between">
            <div *ngIf="menuacti">
                <button pButton pRipple type="button" icon="fa fa-chevron-left"
                    class="p-button-rounded " (click)="toggleSidebar()"></button>
            </div>

            <div *ngIf="!menuacti">
                <button pButton pRipple type="button" icon="fa fa-chevron-right"
                    class="p-button-rounded " (click)="toggleSidebar()"></button>
            </div>
            <div class="row mr-2 ml-auto">
                <ul>

                    <button mat-button [matMenuTriggerFor]="menu"
                        class="user mt-2 d-flex align-items-center fa fa-sort-desc">
                        <p-chip label="{{Username}}" image="assets/img/user.png" styleClass="mr-2 custom-chip"
                            class="user-image  p-2">
                        </p-chip>

                    </button>

                    <mat-menu #menu="matMenu">
                        <a href=" ">
                        <button mat-menu-item (click)="cerrarSesion()">

                           
                                <i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar Sesion
                           

                        </button> </a>
                    </mat-menu>

                </ul>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>