@import '../../../assets/scss/login.scss';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;

}

mat-drawer {
    width: 280px;

}

mat-drawer-container {
    height: 100%;
    overflow: auto;
    overscroll-behavior-y: contain;
}

mat-drawer {
    background: #233257;

}


body {

    /* Ubicación de la imagen 
*/

    /* Para dejar la imagen de fondo centrada, vertical y
horizontalmente */

    background-position: center center;

    /* Para que la imagen de fondo no se repita */

    background-repeat: no-repeat;

    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

    background-attachment: fixed;

    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

    background-size: cover;

    /* Se muestra un color de fondo mientras se está cargando la imagen
de fondo o si hay problemas para cargarla */


}



