<div *ngIf="this.logeado">

    <body class="wrapper">
        <div class="logo">
            <img src="{{path}}/img/logo2.png" alt="">
        </div>
        <div class="text-center mt-4 name"> IFREYAL</div>
        <div *ngIf="isError" style="text-align: center;">
            <br>
            <p-message severity="error" text="Usuario o Clave incorrectos"></p-message>
        </div>
        <form class="p-3 mt-3">
           
            <div class="form-field d-flex align-items-center">
                <span class="p-float-label">
                    <input id="float-input" type="text" size="30" pInputText> 
                    <label for="float-input" style="color: slategray;">Username</label>
                </span>
                
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="p-float-label">
                    <input id="float-input" type="password" size="30" pInputText> 
                    <label for="float-input" style="color: slategray;">Password</label>
                </span>
            </div>
    
            <button class="btn mt-3" (click)="login()">Login</button>
        </form>
    </body>

</div>

<div *ngIf="!logeado">
    <mat-drawer-container>
        <mat-drawer mode="side" [opened]="sideBarOpen">
            <app-sidenav></app-sidenav>
        </mat-drawer>
        <mat-drawer-content>
            <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>