@import '../../../assets/scss/login.scss';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;

}

mat-drawer {
    width: 280px;

}

mat-drawer-container {
    height: 100%;
    overflow: auto;
    overscroll-behavior-y: contain;
}

mat-drawer {
    background: #233257;

}


