<body class="wrapper">
    <div class="logo">
        <img src="{{path}}/img/logo2.png" alt="">
    </div>
    <div class="text-center mt-4 name"> IRFEYAL</div>
    <div *ngIf="isError" style="text-align: center;">
        <br>
        <p-message severity="error" text="Cédula o Clave incorrectos"></p-message>
    </div>
    <form   class="p-3 mt-3"
            autocomplete="off"
            [formGroup]="logInForm"
            (ngSubmit)="logIn()">
       
        <div class="form-field d-flex align-items-center">
            <span class="p-float-label">
                <input id="float-input" type="text" autocomplete="off" size="30"  formControlName="cedula" pInputText> 
                <label for="float-input" style="color: slategray;">Cédula</label>
            </span>
            
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="p-float-label">
                <input id="float-input" type="password" autocomplete="off"  size="30" formControlName="password" pInputText> 
                <label for="float-input" style="color: slategray;">Password</label>
            </span>
        </div>

        <button type="submit" class="btn mt-3" [disabled]="logInForm.pending" >Login</button>
    </form>
</body>