<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Agregar Estudiante</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="card">
            <p-tabView [(activeIndex)]="activeIndex1">
                <p-tabPanel>
                    <ng-template pTemplate = "header">
                        <i class="pi pi-credit-card"></i>
                        <span>Datos Personales</span>
                    </ng-template>
                    <p-autoComplete [(ngModel)]="selectedProvincia" [showEmptyMessage]="true" [suggestions]="filteredProvincia" (completeMethod)="filterCountry($event)" field="provincia" [minLength]="1"></p-autoComplete>
                    <button (click)="mostrar()">mostrar</button>
                </p-tabPanel>
                <p-tabPanel header="Header II">
                    <ng-template pTemplate = "header">
                        <i class="pi pi-user"></i>
                        <span>Header II</span>
                    </ng-template>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                        voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
                </p-tabPanel>
                <p-tabPanel header="Header III">
                    <ng-template pTemplate = "header">
                        <i class="pi pi-search"></i>
                        <span>Header III</span>
                        <i class="pi pi-cog"></i>
                    </ng-template>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                        cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
                </p-tabPanel>
            </p-tabView>
            <div style="padding: .5em 0 1em 0">
                <p-button (click)="activeIndex1 = 0" styleClass="p-button-text" label="Activate 1rd"></p-button>
                <p-button (click)="activeIndex1 = 1" styleClass="p-button-text" label="Activate 2rd" ></p-button>
                <p-button (click)="activeIndex1 = 2" styleClass="p-button-text" label="Activate 3rd" ></p-button>
            </div>
            </div>
            
      
        <!-- <h5>Dropdown and Templating</h5>
        <p-autoComplete [(ngModel)]="selectedCountryAdvanced" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [dropdown]="true">
            <ng-template let-country pTemplate="item">
                <div class="country-item">
                    <img src="" [class]="'flag flag-' + country.code.toLowerCase()" />
                    <div>{{country.name}}</div>
                </div>
            </ng-template>
        </p-autoComplete>     -->
    </div>
</div>



