<div class="container-fluid page">
    <div class="centro">
        ves ves
        <div class="d-flex page__box p-3 mt-2">Certificado de Matricula</div>
        <div class="page__content shadow p-3 ">
            <br>

            <p-table #dt [value]="matriculas" [rows]="10" [paginator]="true" 
                     responsiveLayout="scroll" dataKey="id"
                    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Matriculados"
                    [showCurrentPageReport]="true" [globalFilterFields]="['certificados']" [showCurrentPageReport]="true">
                
                
                <ng-template pTemplate="caption">

                    <div class="col-sm-12 col-md-4" style="margin-left: auto;margin-right: auto;">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" id="search" placeholder="Ingresar cedula" #txtCedula/> 
                        </span>
                        <br><br>
                        <p-button label="Buscar" icon="pi pi-search" type="submit" (click)="getMatriculaPorCedula(txtCedula)"></p-button>

                    </div>


                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="codigo">Codigo</th>
                        <th pSortableColumn="estudiante">Estudiante</th>
                        <th pSortableColumn="curso" >Curso</th>
                        <th pSortableColumn="modalidad">Modalidad</th>
                        <th pSortableColumn="cedula">Cedula</th>
                        
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-certificado>
                    <tr>
                        <td>{{certificado.id_matricula}}</td>
                        <td>{{certificado.estudiante?.id_persona.nombre | titlecase}} 
                            {{certificado.estudiante?.id_persona.apellido| titlecase}}</td>
                        <td>{{certificado.curso.descripcion | titlecase}}</td>
                        <td>{{certificado.modalidad.descripcion | titlecase}}</td>
                        <td>{{certificado.estudiante?.id_persona.cedula }}</td>
                        <td>
                            <button type="submit" class="btn btn-primary" (click)="showDialog(certificado)">Generar</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <br>
            <p-table #dt [value]="certificadoMatricula" [rows]="10" [paginator]="true" 
                     responsiveLayout="scroll" dataKey="id"
                    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Certificado de Matricula"
                    [showCurrentPageReport]="true" [globalFilterFields]="['certificados']" [showCurrentPageReport]="true">
                
                
                <ng-template pTemplate="caption">

                    <div class="col-sm-12 col-md-4" style="margin-left: auto;margin-right: auto;">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" id="search" placeholder="Ingresar cedula" #txtCedula/> 
                        </span>
                        <br><br>
                        <p-button label="Buscar" icon="pi pi-search" type="submit" (click)="getCertificadoMatriculaPorCedula(txtCedula)"></p-button>
                    </div>

                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="codigo">Codigo</th>
                        <th pSortableColumn="estudiante">Estudiante</th>
                        <th pSortableColumn="curso" >Curso</th>
                        <th pSortableColumn="modalidad">Modalidad</th>
                        <th pSortableColumn="cedula">Cedula</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-certificadoMatri>
                    <tr>
                        <td>{{certificadoMatri.id_generar_certificado_matricula}}</td>
                        <td>{{certificadoMatri.matricula.estudiante?.id_persona.nombre | titlecase}} 
                            {{certificadoMatri.matricula.estudiante?.id_persona.apellido| titlecase}}</td>
                        <td>{{certificadoMatri.matricula.curso.descripcion | titlecase}}</td>
                        <td>{{certificadoMatri.matricula.modalidad.descripcion | titlecase}}</td>
                        <td>{{certificadoMatri.matricula.estudiante?.id_persona.cedula }}</td>
                        <td>
                            <button type="submit" class="btn btn-primary" (click)="verDialog(certificadoMatri)">Reimprimir</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>
</div>

<p-dialog header="Certificado de Matricula" [(visible)]="displayMatricula" [style]="{width: '50vw'}" (onHide)="closeDialog()">
    <div class="">
        <div class="row" style="height: 17vw;">
            <div class="col-6">
                <p-dropdown [options]="empleados" [(ngModel)]="selectRector" placeholder="Seleccione Rector/a" optionLabel="cargo" [showClear]="true"></p-dropdown>
            </div>
            <div class="col-6">
                <p-dropdown [options]="empleados" [(ngModel)]="selectSecretaria" placeholder="Seleccione Secretaria/o" optionLabel="cargo" [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>
    <div class="" *ngIf="selectMatricula && selectRector && selectSecretaria">
        <div class="row">
            <div class="col-12 text-center">
                <img src="../../../../../assets/img/logoMatricula.jpeg" alt="">
            </div>
            <div class="col-12 text-center">
                <h3>
                    UNIDAD EDUCATIVA FISCOMISIONAL
                </h3>
                <h3>
                    “JOSÉ MARÍA VELAZ, S.J.”
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                Extensión Educativa {{selectMatricula.estudiante.id_extension.nombre_extension}}  
            </div>
            <div class="col-3">
                Nº 105
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Provincia: {{selectMatricula.estudiante.direccion?.provincia?.provincia}} 
            </div>
            <div class="col-6">
                Cantón: {{selectMatricula.estudiante.id_extension.direccion?.canton?.canton}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                Lugar: {{selectMatricula.estudiante.id_extension.direccion?.canton?.canton}}  
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h3>
                    CERTIFICADO DE MATRÍCULA
                </h3>
                <h5>
                    AÑO LECTIVO: {{selectMatricula.id_periodo.ano_inicio}} - {{selectMatricula.id_periodo.ano_fin}}
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>MATRÍCULA Nº {{selectMatricula.id_matricula}}</h5>
            </div>
            <div class="col-12" style="text-align: justify;">
                CERTIFICAMOS: Que el (la) estudiante <b>{{selectMatricula.estudiante.id_persona.nombre | uppercase}} {{selectMatricula.estudiante.id_persona.apellido | uppercase}}</b>, previo al cumplimiento de los 
                requisitos legales y reglamentarios, se matriculó en el <b>BACHILLERATO GENERAL 
                UNIFICADO-CIENCIAS {{selectMatricula.modalidad.descripcion}}  (1ro, 2do,  3ro)</b>, de este establecimiento Educativo, el {{selectMatricula.fechaMatricula | date: 'longDate'}}.
            </div>
            <div class="col-12">
                Así está anotado en el folio {{selectMatricula.id_matricula}} del libro respectivo.
            </div>
            <div class="col-12">
                Lugar y fecha: CUENCA, {{fechaActual | date: 'longDate'}}.
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-center mt-4">
                <p>________________________________</p>                                     
                <p>{{selectRector.persona?.nombre | uppercase}} {{selectRector.persona?.apellido | uppercase}}</p>                                                       
                <p>RECTORA</p>                       
        
            </div>
            <div class="col-6 text-center mt-4">
                <p>_______________________________</p>
                <p>{{selectSecretaria.persona?.nombre | uppercase}} {{selectRector.persona?.apellido | uppercase}}</p>    
                <p>SECRETARIA</p>         
        
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="closeDialog()" label="Cancelar" styleClass="p-button-text"></p-button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="crearCertificado()"></button>
        <button type="button" class="btn btn-primary" (click)="generarPdf(false)">Descargar</button>
        <button type="button" class="btn btn-primary" (click)="generarPdf(true)">Imprimir</button>
    </ng-template>
</p-dialog>

<p-dialog header="Reimprimir" [(visible)]="displayCertificado" [style]="{width: '50vw'}" (onHide)="cerrarDialog()">
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="cerrarDialog()" label="Cancelar" styleClass="p-button-text"></p-button>
        <button type="button" class="btn btn-primary" (click)="reimprimirCert(false)">Descargar</button>
        <button type="button" class="btn btn-primary" (click)="reimprimirCert(true)">Imprimir</button>
    </ng-template>
</p-dialog>