<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2"> Generar Plan de Unidad</div>
    <div class="page__content shadow p-3 ">
        <!--Inicio Contenido-->
        <h1 *ngIf="mostrarCambiosEditar">EDITANDO PLAN DE UNIDAD</h1>
        <div *ngIf="mostrarBotonEnviar" class="container-fluid"><br>
            <div class="row">
                <div class="col-sm-4" style="text-align:center;">
                    <button pButton [disabled]="mostrarFormGenerar == true" type="button" label="Generar Plan de Unidad"
                        icon="pi pi-plus" class="p-button-text" (click)="verFormGenerar()"></button>
                </div>
                <div class="col-sm-4" style="text-align:center;">
                    <button pButton [disabled]="mostrarRechazados == true" type="button" label="Rechazados"
                        icon="pi pi-times" class="p-button-text p-button-danger"
                        (click)="verTablaRechazados()"></button>
                </div>
                <div class="col-sm-4" style="text-align:center;">
                    <button pButton [disabled]="mostrarAprobados == true" type="button" label="Aprobados"
                        icon="pi pi-check" class="p-button-text p-button-success"
                        (click)="verTablaAprobados()"></button>
                </div>
            </div>
            <hr>
        </div>

        <form *ngIf="mostrarFormGenerar" [formGroup]="generar_planunidadForm" (ngSubmit)="enviar()">
            <div *ngIf="mostrarObservaciones" class="border bg-light">
                <h3>Observaciones a corregir</h3>
                <input type="text" class="form-control" style="border: 0px;" name="observaciones"
                    formControlName="observaciones" readonly><br>
            </div><br>
            <!-- Seleccion del Enacabezado-->
            <p-accordion>
                <p-accordionTab header="Encabezado del Plan de Unidad" [selected]="panelEncabezado">
                    <div class="border bg-light">
                        <div class="row">
                            <div class="col-sm-4" style="text-align:left;">
                                <label>Unidad:</label> <br>
                                <p-dropdown [options]="unidades" [(ngModel)]="opcionSelectUnidad" placeholder="Select"
                                    [style]="{'width':'200px'}" [showClear]="true" optionLabel="nombre_unidad"
                                    formControlName="unidad" id="unidad" (onChange)="capturarSelectUnidad()">
                                </p-dropdown>
                                <br><br>
                                <label>Curso:</label> <br>
                                <p-dropdown [options]="cursos" [(ngModel)]="opcionSelectCurso" placeholder="Select"
                                    [style]="{'width':'200px'}" [showClear]="true" optionLabel="descripcion"
                                    formControlName="curso" (onChange)="capturarSelectCurso()">
                                </p-dropdown>
                                <br><br>
                            </div>
                            <div class="col-sm-4" style="text-align:left;">
                                <label>Periodo:</label> <br>
                                <p-dropdown [options]="periodos" [(ngModel)]="opcionSelectPeriodo" placeholder="Select"
                                    [style]="{'width':'200px'}" [showClear]="true" optionLabel="periodo_academico"
                                    formControlName="periodo" (onChange)="capturarSelectPeriodo()">
                                    <ng-template let-periodo pTemplate="item">
                                        <div class="flex align-items-center operatingSystems-item">
                                            <div>{{periodo.fecha_inicio | date:'dd/MM/yyyy'}} a {{periodo.fecha_fin |
                                                date:'dd/MM/yyyy'}}
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                                <br><br>
                                <label>Paralelo:</label> <br>
                                <p-dropdown [options]="paralelos" [(ngModel)]="opcionSelectParalelo"
                                    placeholder="Select" [style]="{'width':'200px'}" [showClear]="true"
                                    optionLabel="descripcion" formControlName="paralelo"
                                    (onChange)="capturarSelectParalelo()">
                                </p-dropdown>
                                <br><br>
                            </div>
                            <div class="col-sm-4" style="text-align:left;">
                                <label>Modalidad:</label> <br>
                                <p-dropdown [options]="modalidades" [(ngModel)]="opcionSelectModalidad"
                                    placeholder="Select" [style]="{'width':'200px'}" [showClear]="true"
                                    optionLabel="descripcion" formControlName="modalidad"
                                    (onChange)="capturarSelectModalidad()">
                                </p-dropdown>
                                <br><br>
                                <label>Asignatura:</label> <br>
                                <p-dropdown [options]="asignaturas" [(ngModel)]="opcionSelectAsig" placeholder="Select"
                                    [style]="{'width':'200px'}" [showClear]="true" optionLabel="descripcion"
                                    formControlName="asignatura" [disabled]="showSelect"
                                    (onChange)="capturarSelectAsig()">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
                <br>
                <div class="container-fluid border bg-light">
                    <div class="container-fluid">
                        <!-- Implementacion del Grid para el diseño del formulario -->
                        <div class="row">
                            <div class="col">
                            </div>
                            <div class="col-sm-4"><br>
                                <label style="text-align:center; font-size:23px; font-weight:bold;">
                                    PLAN DE UNIDAD N°</label>
                                <label style="text-align:center; font-size:23px; font-weight:bold; margin-left: 10px;"
                                    [hidden]="opcionSelectUnidad == null">
                                    {{verSelectUnidad}}</label>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                        <!-- Implementacion Parte 2 Contenido-->
                        <!-- Dentro de Parte 2, Etiquetas para mostrar algunos datos-->
                        <label style="font-size:18px; font-size:18px; font-weight:bold;">
                            Docente:</label>
                        <label style="font-size:18px; margin-left: 10px;">
                            {{NombreApellidoEmpleado}}</label><br>
                        <div class="row">
                            <div class="col-sm-6">
                                <label style="font-size:18px; font-size:18px; font-weight:bold;">
                                    Periodo:</label>
                                <label style="font-size:18px; margin-left: 10px;"
                                    [hidden]="opcionSelectPeriodo == null">
                                    {{verSelectPeriodoFinicio | date:'dd/MM/yyyy'}} - {{verSelectPeriodoFfin |
                                    date:'dd/MM/yyyy'}}</label><br>
                                <label style="font-size:18px; font-size:18px; font-weight:bold;">
                                    Modalidad:</label>
                                <label style="font-size:18px; margin-left: 10px;"
                                    [hidden]="opcionSelectModalidad == null">
                                    {{verSelectModalidad}}</label><br>
                                <label style="font-size:18px; font-size:18px; font-weight:bold;">
                                    Asignatura:</label>
                                <label style="font-size:18px; margin-left: 10px;" [hidden]="opcionSelectAsig == null">
                                    {{verSelectAsigNom}}</label><br>
                            </div>
                            <div class="col-sm-6">
                                <label style="font-size:18px; font-size:18px; font-weight:bold;">
                                    Malla:</label>
                                <label style="font-size:18px; margin-left: 10px;"
                                    [hidden]="opcionSelectPeriodo == null">
                                    {{verSelectPeriodoMalla}}</label><br>
                                <label style="font-size:18px; font-size:18px; font-weight:bold;">
                                    Curso:</label>
                                <label style="font-size:18px; margin-left: 10px;" [hidden]="opcionSelectCurso == null">
                                    {{verSelectCurso}}</label>
                                <label style="font-size:18px; margin-left: 10px;"
                                    [hidden]="opcionSelectParalelo == null">
                                    {{verSelectParalelo}}</label><br>
                                <label style="font-size:18px; font-size:18px; font-weight:bold;">
                                    Codigo de Asignatura:</label>
                                <label style="font-size:18px; margin-left: 10px;" [hidden]="opcionSelectAsig == null">
                                    {{verSelectAsigId}}</label><br>
                            </div>
                        </div>
                        <br>
                        <!-- Dentro de Parte 2, 3 columnas para datos principales-->
                        <div class="row">
                            <div class="col-sm-4">
                                <h2>Fecha de inicio:</h2>
                                <!--<p-calendar inputId="calendar" formControlName="fecha_inicio" [showIcon]="true"
                                        dateFormat="dd/mm/yy" placeholder="dd/mm/aaaa"></p-calendar>-->
                                <input type="date" class="form-control" name="date" formControlName="fecha_inicio">
                                <span class="form-text text-danger" style="font-size:10px;"
                                    *ngIf="validarCampo('fecha_inicio')">
                                    Campo obligatorio!
                                </span>
                            </div>
                            <div class="col-sm-4">
                                <h2>Fecha de fin:</h2>
                                <input type="date" class="form-control" name="date" formControlName="fecha_fin">
                                <span class="form-text text-danger" style="font-size:10px;"
                                    *ngIf="validarCampo('fecha_fin')">
                                    Campo obligatorio!
                                </span>
                            </div>
                            <div class="col-sm-4">
                            </div>
                        </div>
                        <br>
                        <!-- Dentro de Parte 2, 2 columanas (titulo y objetivos)-->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <h2>Titulo de Unidad</h2>
                                    <textarea class="form-control" formControlName="titulo_unidad" [rows]="2"
                                        pInputTextarea [autoResize]="autoResize"></textarea>
                                    <span class="form-text text-danger" style="font-size:10px;"
                                        *ngIf="validarCampo('titulo_unidad')">
                                        Campo obligatorio!
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <h2>Objetivos especificos de la unidad</h2>
                                    <textarea class="form-control" formControlName="objetivos" [rows]="2" pInputTextarea
                                        [autoResize]="autoResize"></textarea>
                                    <span class="form-text text-danger" style="font-size:10px;"
                                        *ngIf="validarCampo('objetivos')">
                                        Campo obligatorio!
                                    </span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!-- Dentro de Parte 2, 2 columanas (contenidos y criterio)-->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <h2>Contenidos de la unidad</h2>
                                    <textarea class="form-control" formControlName="contenidos" [rows]="3"
                                        pInputTextarea [autoResize]="autoResize"></textarea>
                                    <span class="form-text text-danger" style="font-size:10px;"
                                        *ngIf="validarCampo('contenidos')">
                                        Campo obligatorio!
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <h2>Criterios de evaluacion</h2>
                                    <textarea class="form-control" formControlName="criterios_evaluacion" [rows]="3"
                                        pInputTextarea [autoResize]="autoResize"></textarea>
                                    <span class="form-text text-danger" style="font-size:10px;"
                                        *ngIf="validarCampo('criterios_evaluacion')">
                                        Campo obligatorio!
                                    </span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!-- Dentro de Parte 2, 1 columana (Destrezas)-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <h2>Destrezas con criterio de desempeño</h2>
                                    <textarea class="form-control" formControlName="destrezas" [rows]="3" pInputTextarea
                                        [autoResize]="autoResize"></textarea>
                                    <span class="form-text text-danger" style="font-size:10px;"
                                        *ngIf="validarCampo('destrezas')">
                                        Campo obligatorio!
                                    </span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div align="center">
                            <button *ngIf="mostrarBotonEnviar" type="submit"
                                class="btn btn-success btn-lg">Enviar</button>
                            <button *ngIf="mostrarCambiosEditar" type="button" class="btn btn-secondary"
                                (click)="cancelaredit()">Cancelar</button>
                            <button *ngIf="mostrarCambiosEditar" type="button" class="btn btn-primary"
                                (click)="guardaredit()">Guardar Cambios</button>
                        </div><br>
                    </div>
                    <br>
                </div>
            </p-accordion>
            <br>
        </form>
        <!--Implementacion de la tabla de planes de unidad aprobados-->
        <div *ngIf="mostrarAprobados" class="container-fluid px-4">
            <h1 *ngIf="mostrarbtnTodos">PLANES DE UNIDAD APROBADOS</h1>
            <p-table #dt [value]="planunidadaprobados" [rows]="10" [paginator]="true"
                [globalFilterFields]="['asignatura.descripcion','titulo_unidad','unidad.idUnidad']"
                responsiveLayout="scroll" [rowHover]="true" dataKey="id_plan_unidad"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        <h5 class="m-0">Administrar Planes de unidad por (Asignatura, Unidad o Titulo)</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id_plan_unidad">Id
                            <p-sortIcon field="id_plan_unidad"></p-sortIcon>
                        </th>
                        <th pSortableColumn="asignatura.descripcion">Asignatura
                            <p-sortIcon field="asignatura.descripcion"></p-sortIcon>
                        </th>
                        <th pSortableColumn="unidad.idUnidad">Unidad
                            <p-sortIcon field="unidad.idUnidad"></p-sortIcon>
                        </th>
                        <th pSortableColumn="titulo_unidad">Titulo
                            <p-sortIcon field="titulo_unidad"></p-sortIcon>
                        </th>
                        <th pSortableColumn="fecha_inicio">Fecha_Inicio
                            <p-sortIcon field="fecha_inicio"></p-sortIcon>
                        </th>
                        <th pSortableColumn="fecha_fin">Fecha_Fin
                            <p-sortIcon field="fecha_fin"></p-sortIcon>
                        </th>
                        <th pSortableColumn="estado">Estado </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{item.id_plan_unidad}}</td>
                        <td>{{item.asignatura.descripcion}}</td>
                        <td>{{item.unidad.idUnidad}}</td>
                        <td>{{item.titulo_unidad}}</td>
                        <td>{{item.fecha_inicio | date:'MMM dd,yyyy'}}</td>
                        <td>{{item.fecha_fin | date:'MMM dd,yyyy'}}</td>
                        <td>{{item.estado}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-success mr-2"
                                (click)="reportePDFplanUnidad(item)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <!--Implementacion de la tabla de planes de unidad rechazados-->
        <div *ngIf="mostrarRechazados" class="container-fluid px-4">
            <h1>PLANES DE UNIDAD RECHAZADOS</h1>
            <p-table #dt [value]="planunidadrechazados" [rows]="10" [paginator]="true"
                [globalFilterFields]="['asignatura.descripcion','titulo_unidad','unidad.idUnidad']"
                responsiveLayout="scroll" [rowHover]="true" dataKey="id_plan_unidad"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        <h5 class="m-0">Administrar Planes de unidad por (Asignatura, Unidad o Titulo)</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id_plan_unidad">Id
                            <p-sortIcon field="id_plan_unidad"></p-sortIcon>
                        </th>
                        <th pSortableColumn="asignatura.descripcion">Asignatura
                            <p-sortIcon field="asignatura.descripcion"></p-sortIcon>
                        </th>
                        <th pSortableColumn="unidad.idUnidad">Unidad
                            <p-sortIcon field="unidad.idUnidad"></p-sortIcon>
                        </th>
                        <th pSortableColumn="titulo_unidad">Titulo
                            <p-sortIcon field="titulo_unidad"></p-sortIcon>
                        </th>
                        <th pSortableColumn="fecha_inicio">Fecha_Inicio
                            <p-sortIcon field="fecha_inicio"></p-sortIcon>
                        </th>
                        <th pSortableColumn="fecha_fin">Fecha_Fin
                            <p-sortIcon field="fecha_fin"></p-sortIcon>
                        </th>
                        <th pSortableColumn="estado">Estado </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{item.id_plan_unidad}}</td>
                        <td>{{item.asignatura.descripcion}}</td>
                        <td>{{item.unidad.idUnidad}}</td>
                        <td>{{item.titulo_unidad}}</td>
                        <td>{{item.fecha_inicio | date:'MMM dd,yyyy'}}</td>
                        <td>{{item.fecha_fin | date:'MMM dd,yyyy'}}</td>
                        <td>{{item.estado}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                (click)="abrir(item)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="eliminar(item)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        In total there are {{planunidadrechazados ? planunidadrechazados.length : 0 }} planes de unidad.
                    </div>
                </ng-template>
            </p-table>
        </div>
        <!--Fin Contenido-->
    </div>
</div>