<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">
        <p-message severity="warn" text="¡Oh! página no encontrada. " styleClass="mr-2"></p-message>
    </div>
    <div class="page__content shadow p-2 position-relative" style="background-image: url({{path}}img/404.jpg);">
        <div class="">
            <!--Content-->

            <div class="card-header">
                <p-message severity="error" text="Parece que no podemos encontrar lo que estás buscando">
                </p-message>

            </div>

            <!--Fin Content-->
        </div>
    </div>
</div>