<div class="container-fluid page">
    <div class="centro">
        <div class="d-flex page__box p-3 mt-2">Documentos</div>
        <div class="page__content shadow p-3 position-relative">
            <br>

            
            <div class="input-group">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" id="search" placeholder="Codigo" />
                </span>
                <br><br>
                <p-button label="Buscar" icon="pi pi-search" type="submit"></p-button>
            </div>
            <br><br>
            <span class="card mt-2">
                <p-table [value]="documentos" responsiveLayout="scroll">

                    <ng-template pTemplate="header">
                        <tr>
                            <th>Codigo</th>
                            <th>Tipo de Documento</th>
                            <th>Descripcion</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-documento>
                        <tr>
                            <td>{{documento.id_documento}}</td>
                            <td>{{documento.tipo_documento | titlecase}}</td>
                            <td>{{documento.descripcion | titlecase}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </span>
        </div>
    </div>
</div>