<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Registro de Actividades</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="">
          
      <div class="container">
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <label for="periodoEscolar"> Periodo: </label>
              <select class="form-control" name="periodoEscolar">
                <option value="value1" selected>Seleccionar</option>
                <option value="value2">TSD Septiembre - Junio - 2021/2022</option>
                <option value="value3">TSD Septiembre - Junio - 2020/2021</option>
              </select>
            </div>
            <div class="col-4">
              <label for="curso">Curso: </label>
              <select class="form-control" name="curso">
                <option value="value1" selected>Seleccionar</option>
                <option value="value2">Básica Superior Intensiva</option>
                <option value="value3">Bachillerato Superior Intensiva</option>
              </select>
            </div>
            <div class="col-3">
              <button type="submit" class="btn btn-dark" style="margin-left: 35px; margin-top: 30px;" (click)="limpiarFormulario()">LIMPIAR</button>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <label for="modalidad">Modalidad: </label>
              <select class="form-control" name="modalidad">
                <option class="form-control-sm" value="value1" selected>Seleccionar</option>
                <option value="value2">Semi Presencial Intensiva</option>
                <option value="value3">Semi Presencial No Intensiva</option>
              </select>
            </div>
            <div class="col-4">
              <label for="paralelo">Paralelo: </label>
              <select class="form-control" name="paralelo">
                <option value="value1" selected>Seleccionar</option>
                <option value="value2">2A</option>
                <option value="value3">3A</option>
              </select>
            </div>

<div class="container-fluid page">
<p-table responsiveLayout="scroll">
  <ng-template pTemplate="header" >
    
      <tr>
        <th>Id</th>
        <th>Aporte 1</th>
        <th>Aporte 2</th>
        <th>Aporte 3</th>
        <th>Aporte 4</th>
        <th>Evaluacion 1</th>
        <th>Aporte 5</th>
        <th>Aporte 6</th>
        <th>Aporte 7</th>
        <th>Aporte 8</th>
        <th>Evaluacion 2</th>
        <th>Examen Final</th>
        <th>Promedio Final</th>
        <th>Examen Supletorio</th>
        <th>Promedio Supletorio</th>
        <th>Examen Remedial</th>
        <th>Promedio Remedial</th>
        <th>Examen Gracia</th>
        <th>Promedio Gracia</th>
        <th>Comporamiento</th>
        <th>Id Matricula</th>
        <th>Id Asignatura</th>
        
      </tr>
  </ng-template>
    <ng-template pTemplate="body">
      <tr >
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
      </tr>
    </ng-template>
</p-table>
</div>

            <div class="col-3">
              <button type="submit" class="btn btn-dark" style="margin-left: 35px; margin-top: 30px;" (click)="listarDatos()">LISTAR</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>