<p-toast></p-toast>
<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Registro de Actividades</div>
  <div class="page__content shadow p-3 position-relative">

    <div class="card">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <label for="periodoEscolar">Periodo:</label>
            <div>
              <p-dropdown [disabled]="filtrosBoolean" (onChange)="llenarmallas()" [options]="periodo"
                [(ngModel)]="selectPeriodo" placeholder="Seleccione un Periodo" optionLabel="fecha_inicio">
                <ng-template pTemplate="selectedItem">
                  <div *ngIf="selectPeriodo">
                    <div>De {{selectPeriodo.fecha_inicio | date:'dd/MM/yyyy'}} a {{selectPeriodo.fecha_fin |
                      date:'dd/MM/yyyy'}} </div>
                  </div>
                </ng-template>
                <ng-template let-p pTemplate="item">
                  <div class="p-item">
                    <div>De {{p.fecha_inicio | date:'dd/MM/yyyy'}} a {{p.fecha_fin | date:'dd/MM/yyyy'}} </div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <div class="col-3">
            <label for="paralelo">Malla:</label>
            <div>
              <p-dropdown [disabled]="filtrosBoolean" (onChange)="llenarmodalidades()" [options]="malla"
                [(ngModel)]="selectMalla" placeholder="Seleccione una Malla" optionLabel="descripcion">
              </p-dropdown>
            </div>
          </div>
          <div class="col-3">
            <label for="modalidad">Modalidad:</label>
            <div>
              <p-dropdown [disabled]="filtrosBoolean" (onChange)="llenarcursos()" [options]="modalidad"
                [(ngModel)]="selectModalidad" placeholder="Seleccione una Modalidad" optionLabel="descripcion">
              </p-dropdown>
            </div>
          </div>
          <div class="col-3">
            <label for="curso">Curso:</label>
            <div>
              <p-dropdown [disabled]="filtrosBoolean" (onChange)="llenarparalelos()" [options]="curso"
                [(ngModel)]="selectCurso" placeholder="Seleccione un Curso" optionLabel="descripcion">
              </p-dropdown>
            </div>
          </div>
        </div><br>
        <div class="row">
          <div class="col-3">
            <label for="paralelo">Paralelo:</label>
            <div>
              <p-dropdown [disabled]="filtrosBoolean" (onChange)="llenarasignaturas()" [options]="paralelo"
                [(ngModel)]="selectParalelo" placeholder="Seleccione un Paralelo" optionLabel="descripcion">
              </p-dropdown>
            </div>
          </div>
          <div class="col-3">
            <label for="paralelo">Asignatura:</label>
            <div>
              <p-dropdown [disabled]="filtrosBoolean" (onChange)="habilitarListar()" [options]="asignatura"
                [(ngModel)]="selectAsignatura" placeholder="Seleccione una Asignatura" optionLabel="descripcion">
              </p-dropdown>
            </div>
          </div>
          <div class="col-6">
            <label for="paralelo"></label>
            <div>
              <button type="submit" class="btn btn-primary" [disabled]="listarBoolean"
                (click)=" llenarregistros()">LISTAR</button>
              <button type="submit" style="margin-left: 20px;" class="btn btn-primary" [disabled]="nuevaconsultaBoolean"
                (click)="limpiarFormulario()">NUEVA CONSULTA</button>
            </div>
          </div>
        </div>
      </div><br>
      <div class="container-fluid page">
        <p-table #dt [value]="registro" [rows]="7" [paginator]="true" [scrollable]="true" scrollDirection="both"
          [globalFilterFields]="['id_matricula.estudiante.id_persona.nombre','id_matricula.estudiante.id_persona.apellido']"
          [(selection)]="selectRegistro" [rowHover]="true" dataKey="registro.id_registro"
          currentPageReportTemplate="Mostrando {first} a {last} de un total de {totalRecords} registros"
          [showCurrentPageReport]="true">
          <ng-template pTemplate="header">
            <tr>
              <th style="width:250px; font-weight: 700; text-align: center;" pFrozenColumn><label>NOMBRE<br><span
                    class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input [disabled]="nuevaconsultaBoolean" pInputText type="text"
                      (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar" />
                  </span></label></th>
              <th style="width:70px; background-color: sandybrown; text-align: center;"><label>Aporte 1<br>40%</label>
              </th>
              <th style="width:70px; background-color: sandybrown; text-align: center;"><label>Aporte 2<br>40%</label>
              </th>
              <th style="width:95px; background-color: sandybrown; text-align: center;"><label>Examen I
                  Quimestre<br>20%</label></th>
              <th style="width:125px; background-color: sandybrown; text-align: center;"><label>PROMEDIO I
                  QUIMESTRE<br>A1+A2+EI</label></th>
              <th style="width:70px; background-color: moccasin; text-align: center;"><label>Aporte 1<br>40%</label>
              </th>
              <th style="width:70px; background-color: moccasin; text-align: center;"><label>Aporte 2<br>40%</label>
              </th>
              <th style="width:95px; background-color: moccasin; text-align: center;"><label>Examen II
                  Quimestre<br>20%</label></th>
              <th style="width:130px; background-color: moccasin; text-align: center;"><label>PROMEDIO II
                  QUIMESTRE<br>A1+A2+EII</label></th>
              <th style="width:90px; text-align: center;"><label>Conducta</label></th>
              <th style="width:90px; background-color: paleturquoise;"><label>NOTA
                  FINAL<br>(PI+PII)/2</label></th>
              <th style="width:95px; background-color: thistle; text-align: center;"><label>Examen Supletorio</label>
              </th>
              <th style="width:85px; background-color: lightpink; text-align: center;"><label>Examen Remedial</label>
              </th>
              <th style="width:80px; background-color: silver; text-align: center;"><label>Examen Gracia</label></th>
              <th style="width:100px">ESTADO</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-registro>
            <tr>
              <td style="width:250px; font-weight: 700;" pFrozenColumn>
                {{registro.id_matricula.estudiante.id_persona.apellido}}<br>{{registro.id_matricula.estudiante.id_persona.nombre}}
              </td>
              <td style="width:70px">{{registro.aporte1}}</td>
              <td style="width:70px">{{registro.aporte2}}</td>
              <td style="width:95px">{{registro.examen_Iquimestre}}</td>
              <td style="width:125px">{{registro.promedio_Iquimestre}}</td>
              <td style="width:70px">{{registro.aporte3}}</td>
              <td style="width:70px">{{registro.aporte4}}</td>
              <td style="width:95px">{{registro.examen_IIquimestre}}</td>
              <td style="width:130px">{{registro.promedio_Iquimestre}}</td>
              <td style="width:90px">{{registro.conducta}}</td>
              <td style="width:90px">{{registro.nota_final}}</td>
              <td style="width:95px">{{registro.examen_supletorio}}</td>
              <td style="width:85px">{{registro.examen_remedial}}</td>
              <td style="width:80px">{{registro.examen_gracia}}</td>
              <td style="width:100px">{{registro.estado}}</td>
              <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                  (click)="edit(registro)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="row">
        <div class="col-4">
          <button style="margin-left: 15px;" type="submit" class="btn btn-success" [disabled]="nuevaconsultaBoolean"
            (click)="imprimirPdf()"><i class="pi pi-print"></i>
            IMPRIMIR REGISTRO <i class="pi pi-file-pdf"></i></button>
        </div>
      </div>
      <p-dialog [(visible)]="Dialog" [style]="{width: '450px'}" header="EDITAR" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
          <div class="row">
            <div style="text-align: center;"><label for="ev1">PRIMER QUIMESTRE:</label></div>
            <div class="col-4">
              <label for="ap1">Aporte 1:</label>
              <input type="number" pInputText id="ap1" [(ngModel)]="selectRegistro.aporte1" />
            </div>
            <div class="col-4">
              <label for="ap2">Aporte 2:</label>
              <input type="number" pInputText id="ap2" [(ngModel)]="selectRegistro.aporte2" />
            </div>
            <div class="col-4">
              <label for="ev1">E. I Quimestre:</label>
              <input type="number" pInputText id="ev1" [(ngModel)]="selectRegistro.examen_Iquimestre" />
            </div>
          </div><br>
          <div class="row">
            <div style="text-align: center;"><label for="ev1">SEGUNDO QUIMESTRE:</label></div>
            <div class="col-4">
              <label for="ap3">Aporte 1:</label>
              <input type="number" pInputText id="ap1" [(ngModel)]="selectRegistro.aporte3" />
            </div>
            <div class="col-4">
              <label for="ap4">Aporte 2:</label>
              <input type="number" pInputText id="ap2" [(ngModel)]="selectRegistro.aporte4" />
            </div>
            <div class="col-4">
              <label for="ev2">E. II Quimestre:</label>
              <input type="number" pInputText id="ev1" [(ngModel)]="selectRegistro.examen_IIquimestre" />
            </div>
          </div><br>
          <div class="row">
            <div class="col-4">
              <label for="c">Conducta:</label>
              <input type="number" pInputText id="c" [(ngModel)]="selectRegistro.conducta" />
            </div>
          </div><br>
          <div class="row">
            <div style="text-align: center;"><label for="ev1">EXAMENES SUPLETORIOS:</label></div>
            <div class="col-4">
              <label for="exs">E. Supletorio:</label>
              <input type="number" pInputText id="exs" [(ngModel)]="selectRegistro.examen_supletorio" />
            </div>
            <div class="col-4">
              <label for="exr">E.Remedial:</label>
              <input type="number" pInputText id="exr" [(ngModel)]="selectRegistro.examen_remedial" />
            </div>
            <div class="col-4">
              <label for="exg">E. Gracia:</label>
              <input type="number" pInputText id="exg" [(ngModel)]="selectRegistro.examen_gracia" />
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <button pButton pRipple label="CANCELAR" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()"></button>
          <button pButton pRipple label="GUARDAR" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
        </ng-template>
      </p-dialog>
    </div>
    <br>
  </div>
</div>