<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Nomina Estudiantil</div>
    <div class="page__content shadow p-3 position-relative">
  
      <div class="dropdown">
        <select name="select">
          <option value="value1">Value</option>
        </select>
  
        <select name="select">
          <option value="value1">Value</option>
        </select>
  
        <select name="select">
          <option value="value1">Value</option>
        </select>
      </div>
  
      <div>
        <p-table [value]="estudiantes" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Nombre</th>
              <th>Nota General</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-estudiante>
            <tr>
              <td>{{estudiante.id_persona.nombre | titlecase}} {{estudiante.id_persona.apellido | titlecase}}</td>
              <td>pendiente services tutorias</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
  
    </div>
  </div>
