<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Nomina Estudiantil</div>
    <div class="page__content shadow p-3 position-relative">
  
      <div class="row">
        <h2>Seleccione parametros de consulta:</h2>
        <div class="col-12 d-flex justify-content-around">
          <p-dropdown [options]="cursos" [(ngModel)]="selectCurso" optionLabel="descripcion" [filter]="true" filterBy="descripcion" [showClear]="true" placeholder="Seleccione curso">
          </p-dropdown>
          <p-dropdown [options]="paralelos" [(ngModel)]="selectParalelo" optionLabel="descripcion" [filter]="true" filterBy="descripcion" [showClear]="true" placeholder="Seleccione paralelo">
          </p-dropdown>
          <p-dropdown [options]="modalidades" [(ngModel)]="selectModalidad" optionLabel="descripcion" [filter]="true" filterBy="descripcion" [showClear]="true" placeholder="Seleccione modalidad">
          </p-dropdown>
          <p-dropdown [options]="periodos" [(ngModel)]="selectPeriodo" optionLabel="ano_fin" [filter]="true" filterBy="ano_fin" [showClear]="true" placeholder="Seleccione periodo">
            <ng-template let-periodo pTemplate="item">
              <div class="country-item">
                  <div>{{periodo.ano_inicio}} - {{periodo.ano_fin}}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <p-button label="Buscar" icon="pi pi-search" type="submit" (click)="getRegistrosPorIdCurModPer()">
          </p-button>
        </div>
      </div>
  
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-around">
            <button pButton pRipple type="button" label="Primer Quimestre" (click)="showDialog()"></button>
            <button pButton pRipple type="button" label="Segundo Quimestre" class="p-button-secondary"></button>
            <button pButton pRipple type="button" label="Cuadro Final" class="p-button-success"></button>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  <p-dialog header="Certificado" [(visible)]="displayEmpleados" [style]="{width: '50vw'}" (onHide)="closeDialog()">
    <div class="" *ngIf="selectedAll; else nullos">
        <div class="row">
            <div class="col-6" >
                <p-dropdown [options]="empleados" appendTo="body" [(ngModel)]="selectRector" placeholder="Seleccione Rector/a"
                    optionLabel="cargo" [showClear]="true"></p-dropdown>
            </div>
            <div class="col-6">
                <p-dropdown [options]="empleados" appendTo="body" [(ngModel)]="selectSecretaria" placeholder="Seleccione Secretaria/o"
                    optionLabel="cargo" [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>
    <ng-template #nullos>
      <div class=" alert alert-danger">
        Seleccione los datos
      </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
      <div class="" >
          <p-button icon="pi pi-check" (click)="closeDialog()" label="Cancelar" styleClass="p-button-text"></p-button>
          <button type="button" class="btn btn-primary" *ngIf="selectedAll" (click)="generarPrimerQuimestre(false)">Descargar</button>
          <button type="button" class="btn btn-primary" *ngIf="selectedAll" (click)="generarPrimerQuimestre(true)">Imprimir</button>
        </div>
    </ng-template>

</p-dialog>