<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Asistencia</div>
  <div class="page__content shadow p-3 ">

    <!--Inicio Contenido-->
     <section class="py-5">
      <div class="row gx-4 gx-lg-5 align-items-right">
          <div class="col-md-6" id="miDiv">
           
              <!--mostrar informacion-->
              <div *ngIf='showDiv'>
                <h1>Informacion del Estudiante</h1>
                  <div class="card">
                      <p-dataView  [value]="Estudiante">
                          <ng-template let-estudiante pTemplate="listItem">
                              <div>
                                  <h2> Nombre:</h2>
                                  <label class="input-black"> {{estudiante.id_persona.nombre}}</label><br>
                                  <h2> Apellido:</h2>
                                  <label class="input-black">  {{estudiante.id_persona.apellido}}</label><br>
                                  <h2> cedula:</h2>
                                  <label class="input-black">    {{estudiante.id_persona.cedula}}</label><br>
                              </div>
                          </ng-template>
                      </p-dataView>
                  </div>
                    <p-table [value]="fechas" [rows]="5" [paginator]="true" responsiveLayout="scroll" dataKey="id"
                    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Asistencia"
                    [showCurrentPageReport]="true" [globalFilterFields]="['descripcion']" [showCurrentPageReport]="true">
                      <ng-template pTemplate="header">
                        <tr>
                          <th>asignatura</th>
                          <th>Fechas</th>
                          
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-product>
                        <tr>
                          <td>{{ product.idAsignatura.descripcion}}</td>   
                        <td>{{ product.fecClase}}</td>             
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="summary">
                        <div class="flex align-items-center justify-content-between">
                            En total se encontro {{fechas ? fechas.length : 0 }} Faltas
                        </div>
                    </ng-template>
                    </p-table>


                    <button pButton pRipple label="Imprimir" icon="pi pi-check"></button>
                  </div>
            </div>

            
              <div [class.col-md-6]="showDiv===true">
                <div styleClass="p-fluid">

                  <p-toolbar styleClass="mb-4">
                  
                    <div class="col-4">
                      <h3>Periodo :</h3>
                      <p-dropdown  [options]="periodos" placeholder="Periodo" optionLabel="periodo_academico" filterBy="periodo_academico" optionValue="id_periodo"  (onChange)="onperiodo($event.value)"  autoWidth="false" [style]="{'width':'70%'}" [showClear]="true"></p-dropdown>

    
                    </div>
                    <div class="col-4">
                      <h3>Modalidad :</h3>
                      <p-dropdown [disabled]="showmodalidad"[options]="modalidades" placeholder=" Modalidad" optionLabel="descripcion" filterBy="descripcion" optionValue="id_modalidad"  (onChange)="onmodalidad($event.value)"  [showClear]="true"></p-dropdown>

                    </div>
                    <div class="col-4">
                      <h3>Curso :</h3>
                      <p-dropdown [disabled]="showcurso"[options]="cursos" placeholder=" Curso" optionLabel="descripcion" filterBy="descripcion" optionValue="id_curso"   (onChange)="onCurso($event.value)" [showClear]="true"></p-dropdown>

                    </div>
                    <div class="col-4">
                      <h3>Paralelos :</h3>
                      <p-dropdown [disabled]="showparalelo" [options]="paralelos" placeholder="Paralelo" optionLabel="descripcion" filterBy="descripcion" optionValue="id_paralelo" (onChange)="onparalelo($event.value)" [showClear]="true"></p-dropdown>

    
                    </div>
                    
                    <div class="col-4">
                      <h3>Asignaturas :</h3>
                      <p-dropdown [disabled]="showasignatura" [options]="asignaturas" placeholder="Asignatura" optionLabel="descripcion" filterBy="descripcion" optionValue="id_asignatura"  (onChange)="onSelect($event.value)" [showClear]="true"></p-dropdown>

    
                    </div>
                    <div class="col-4">

    
                    </div>

                    <input [disabled]="showasignatura" pInputText type="text" [(ngModel)]="filterValue" (input)="dt2.filterGlobal(filterValue, 'contains')" placeholder="Search..." />

                </p-toolbar>
                  
                

                  
                 
                </div>


         <p-table #dt2 [value]="estudiantes"  [rows]="10" [paginator]="true"  [globalFilterFields]="['id_persona.cedula','id_persona.nombre','id_persona.apellido']" styleClass="p-datatable-striped" responsiveLayout="scroll"
         currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} estudiantes"
          [showCurrentPageReport]="true">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id_estudiante">id<p-sortIcon field="id_estudiante"></p-sortIcon></th>
              <th pSortableColumn="id_persona.nombre" >Name <p-sortIcon field="id_persona.nombre"></p-sortIcon></th>
              <th pSortableColumn="id_persona.apellido">Apellidos <p-sortIcon field="id_persona.apellido"></p-sortIcon></th>
              <th scope="col">Mostrar Informacion</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{ product.id_estudiante }}</td>
              <td>{{ product.id_persona.nombre}}</td>
              <td>{{ product.id_persona.apellido}}</td>
              <td><button pButton pRipple icon="pi pi-id-card" #im class="p-button-rounded p-button-success mr-2" value="{{product.id_estudiante}}" (click)="mostrarinfo(product.id_estudiante)"></button></td>
            </tr>
          </ng-template>
         </p-table>
         </div>
         </div>
      
        </section>
      

    <!--Fin Contenido-->
  </div>
</div>