<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Lista de Matriculas</div>
    <div class="page__content shadow p-3 position-relative">
        <p-table [value]="matriculas" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cedula</th>
                    <th>Fecha Nacimiento</th>
                    <th>Genero</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-matricula>
                <tr>
                    <td>{{matricula.id_matricula}}</td>
                    <td>{{matricula.fechaMatricula | date:'MMM dd,yyyy'}}</td>
                    <td>{{matricula.id_periodo.actividades}}</td>
                    <td>{{matricula.id_periodo.costo_mensualidad}}</td>
                    <td>{{matricula.id_periodo.costo_matricula}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
