<div class="container">
    <form [formGroup]="entregarKitForm" (ngSubmit)="realizarAccion()" >
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-4">
                <fieldset [disabled]="getValorCheck() && id">
                    <!-- tipo -->
                    <div class="field">
                        <label for="nombre" class="block">Tipo aprobación</label>
                        <input   
                                id="nombre" 
                                type="text" 
                                class="w-100"
                                [ngClass]="{'ng-invalid ng-dirty' : verificarCampo('tipoAprobacion')}"
                                formControlName="tipoAprobacion"
                                pInputText />
                        <small  class="p-error block"
                                *ngIf="verificarCampo('tipoAprobacion')">
                                El tipo es requerido.
                        </small>
                    </div>
                    <!-- detalle -->
                    <div class="field">
                        <label for="nombre" class="block">Detalle</label>
                        <textarea   rows="1"    
                                    class="w-100"
                                    [ngClass]="{'ng-invalid ng-dirty' : verificarCampo('detalleControl')}"
                                    pInputTextarea [autoResize]="true"
                                    formControlName="detalleControl">
                        </textarea>
                        <small  class="p-error block"
                                *ngIf="verificarCampo('detalleControl')">
                                El detalle es requerido.
                        </small>
                    </div>
                </fieldset>
                <!-- kit entrgado -->
                <div class="field">
                    <label for="nombre" class="block">Kit entregado al estudiante</label>
                    <div class="d-flex align-content-center">
                        <p-checkbox [binary]="true" 
                                    inputId="binary"
                                    [disabled]="getValorCheck() && id"
                                    formControlName="estadoAproba">
                        </p-checkbox>
                        <label for="binary" class="mb-0 ml-1" *ngIf="getValorCheck(); else label2">Si</label>
                        <ng-template #label2>
                            <label for="binary" class="mb-0 ml-1">No</label>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-4">
                <!-- Fecha aprobacion -->
                <div class="field">
                    <label for="fecha" class="block">Fecha aprobación</label>
                    <p-calendar styleClass="w-100" 
                                dateFormat="yy-mm-dd" 
                                inputId="dateformat"
                                [disabled]="getValorCheck() && id"
                                [ngClass]="{'ng-invalid ng-dirty' : verificarCampo('fechaAprobacion')}"
                                formControlName="fechaAprobacion">
                    </p-calendar>
                    <small  class="p-error block"
                            *ngIf="verificarCampo('fechaAprobacion')">
                            La fecha es requerida.
                    </small>
                </div>
                <!-- estudiante -->
                <div class="field">
                    <label for="fecha" class="block">Estudiante</label>
                    <p-autoComplete [emptyMessage]="'No hay estudiantes con esa identificación'"
                                    [showEmptyMessage]=" estudiantes.length ===  0 "
                                    panelStyleClass="w-100"
                                    inputStyleClass="w-100"
                                    styleClass="w-100"
                                    [ngClass]="{'ng-invalid ng-dirty' : verificarCampo('estudiante')}"
                                    placeholder="Ingrese identificación del estudiante"
                                    (completeMethod)="getEstudiante($event)"
                                    [suggestions]="estudiantes"
                                    field="id_persona.cedula"
                                    [disabled]="getValorCheck() && id"
                                    formControlName="estudiante">
                        <ng-template let-estudiante pTemplate="item">
                            <div class="country-item">
                                <div>{{estudiante.id_persona.nombre}} {{estudiante.id_persona.apellido}} ID: {{estudiante.id_persona.cedula}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                    <small  class="p-error block"
                            *ngIf="verificarCampo('estudiante')">
                            {{identificacionErrorMsg}}
                    </small>
                </div>
                <!-- kit -->
                <div class="field">
                    <label for="kit" class="block">Kit</label>
                    <p-dropdown [options]="kits"
                                [styleClass]=" !verificarCampo('kit') ? 'border w-100' : 'w-100'"   
                                [ngClass]="{'ng-invalid ng-dirty ' : verificarCampo('kit')}"
                                optionLabel="nombrekit"
                                [showClear]="true"
                                emptyMessage="No hay kits"
                                [disabled]="getValorCheck() && id"
                                placeholder="Seleccione un kit"
                                formControlName="kit">
                    </p-dropdown>
                    <small  class="p-error block"
                            *ngIf="verificarCampo('kit')">
                            El kit es requerido.
                    </small>
                </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-evenly">
                <button pButton 
                        pRipple 
                        type="button" 
                        label="Cancelar" 
                        icon="pi pi-times" 
                        class="p-button-outlined p-button-danger" 
                        iconPos="right"
                        routerLink="listar">
                </button>
                <button pButton 
                        pRipple type="submit" 
                        label="Guardar" 
                        icon="pi pi-save" 
                        iconPos="right"
                        [disabled]="entregarKitForm.pending"
                        >
                </button>
            </div>
        </div>
    </form>
</div>