<p-toast></p-toast>
<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Registro Usuarios</div>
    <div class="page__content shadow p-3 ">
<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        </ng-template>
        <ng-template pTemplate="right">
        <span class="p-input-icon-left" >
                    <i class="pi pi-search"></i>
                    <input pInputText type="text"  placeholder="Search..." />
                </span>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="usuarios" [rows]="10" [paginator]="true" 
        [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h3 class="p-m-0">Tabla Usuarios</h3>
                
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id_usuario">ID <p-sortIcon field="id_usuario"></p-sortIcon></th>
                <th pSortableColumn="usuario">Name <p-sortIcon field="usuario"></p-sortIcon></th>
                <th pSortableColumn="estUsuario">Estado <p-sortIcon field="estUsuario"></p-sortIcon></th>
                <th pSortableColumn="roles">Roles <p-sortIcon field="roles"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td>{{usuario.id_usuario}}</td>
                <td>{{usuario.usuario}}</td>
                <td>{{usuario.estUsuario}}</td>
                <td>
                    <div class="" *ngFor="let rol of usuario.roles">
                        <small>{{rol.rol.descripcion | titlecase }}</small>
                    </div>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editarUsuario(usuario)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="eliminarUsuario(usuario)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                En total hay {{usuarios ? usuarios.length : 0 }} usuarios.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="usuarioDialog" [style]="{width: '450px'}" header="Detalles del Usuairo" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="usuario.usuario" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !usuario.usuario">Name is required.</small>
        </div>
        <div class="p-field">
            <label for="description">Description</label>
            <input type="password" pInputText id="name" [(ngModel)]="usuario.contrasenia" required  />
        </div>

        <!-- <div class="p-field">
            <label class="p-mb-3">Category</label>
            <div class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category1">Accessories</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category2">Clothing</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category3">Electronics</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category4">Fitness</label>
                </div>
            </div>
        </div> -->

        <!-- <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="price">Price</label>
                <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
            <div class="p-field p-col">
                <label for="quantity">Quantity</label>
                <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
            </div>
        </div> -->
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="guardarUsuario()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>