<p-toast></p-toast>
<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Registro Usuarios</div>
    <div class="page__content shadow p-3 ">
<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label=" Crear Usuario" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        </ng-template>
        <ng-template pTemplate="right">
        <span class="p-input-icon-left" >
                    <i class="pi pi-search"></i>
                    <input pInputText type="text"  placeholder="Search..." />
                </span>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="usuarios" [rows]="10" [paginator]="true" 
        [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h3 class="p-m-0">Tabla Usuarios</h3>
                
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id_usuario">ID <p-sortIcon field="id_usuario"></p-sortIcon></th>
                <th pSortableColumn="usuario">Name <p-sortIcon field="usuario"></p-sortIcon></th>
                <th pSortableColumn="estUsuario">Estado <p-sortIcon field="estUsuario"></p-sortIcon></th>
                <th pSortableColumn="roles">Roles <p-sortIcon field="roles"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td>{{usuario.id_usuario}}</td>
                <td>{{usuario.usuario}}</td>
                <td>{{usuario.estUsuario}}</td>
                <td>
                    <div class="">
                        <button pButton 
                                pRipple 
                                icon="pi pi-eye" 
                                label = "asignar"
                                class="p-button-rounded p-button-help"
                                (click)="showDialogRol(usuario)">
                        </button>
                    </div>

                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editarUsuario(usuario)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="eliminarUsuario(usuario)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                En total hay {{usuarios ? usuarios.length : 0 }} usuarios.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="usuarioDialog" [style]="{width: '650px'}" (onHide)="hideDialog()" header="Detalles del Usuairo" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        
        <div class="p-field col-6">
            <label for="name">Cedula Persona</label>
            <p-autoComplete  [showEmptyMessage]="true" [suggestions]="empleados"
             [(ngModel)]="empleado" (completeMethod)="getEmpleados($event)" field="persona.cedula" [minLength]="3" placeholder="Ejem:010....."></p-autoComplete>
            <small class="p-invalid" *ngIf="submitted && !usuario.empleado">requiere apellido.</small>
        </div>

        <div *ngIf="empleado && empleado.id_empleado >0; else noHayEmpleado">
           <div class="row"> 
                <h2>Empleado seleccionado: <small>{{empleado.persona.nombre}} {{empleado.persona.apellido}} CI: {{empleado.persona.cedula}}</small> </h2>
                <div class="p-field col-6">
                <label for="name">Nombre Usuario:</label>
                <input type="text" pInputText id="name" [(ngModel)]="usuario.usuario" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !usuario.usuario">Name is required.</small>
                </div>
                <div class="p-field col-6">
                    <label for="contrasenia">Contraseña:</label>
                    <p-password [(ngModel)]="usuario.contrasenia" [toggleMask]="true" [feedback]="false"></p-password>
                </div>
            </div>
            <div class="row">
                <div class="p-field col-8">
                    <label for="description">Estado</label>
                    <div class="field-checkbox">
                    <p-checkbox [(ngModel)]="usuario.estUsuario" [binary]="true" inputId="binary"></p-checkbox>
                    <label for="binary" *ngIf="usuario.estUsuario; else mesaje">Activo</label>
                    <ng-template #mesaje>
                        <label for="binary">Inactivo</label>
                    </ng-template>
                </div>
            </div>
        </div>
            
            
            
        </div>
        <ng-template #noHayEmpleado > 
            <div style="min-height:650px;">
            <h5>Primero Seleccione un Empleado</h5>
            </div>
        </ng-template>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="guardarUsuario()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>

<p-dialog header="Roles" (onHide)="closeDialogRol()" [(visible)]="displayRol" [style]="{width: '50vw', height: '50vh'}">
    <p-dropdown [options]="roles" [(ngModel)]="selectRol" optionLabel="descripcion" [filter]="true" filterBy="descripcion" [showClear]="true" placeholder="Seleccion un rol">
        
    </p-dropdown>
  
    <button pButton pRipple type="button" label="Agregar rol" (click)="agregarRol()"></button>
    <div class="" *ngIf="selectUsuario?.roles">
        <p-table [value]="selectUsuario?.roles!" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Rol</th>
                    
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rolUsuario>
                <tr>
                    <td>{{rolUsuario.rol.descripcion}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="eliminarRol(rolUsuario)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="closeDialogRol()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>