<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Asignaturas</div>
    <div class="page__content shadow p-3 ">

        <!--Inicio Contenido-->
        <div *ngIf="star">
            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        </div>
        <p-toast [style]="{marginTop: '80px'}"></p-toast>
        <p-confirmPopup></p-confirmPopup>

        <!--Panel para Asignaturas y Docentes-->
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <p-dropdown [options]="listarea" [(ngModel)]="selectArea" placeholder="Seleccione el Area"
                        [filter]="true" optionLabel="descripcion" class=" mr-2" (onClick)="vertabla()"></p-dropdown>

                    <button pButton pRipple label="Nueva Asignatura" (click)="nuevaAsig()" [disabled]="veriAsign"
                        icon="pi pi-plus" class="p-button-success mr-2"></button>

                </ng-template>

                <ng-template pTemplate="right">

                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="listasig" dataKey="descripcion" responsiveLayout="scroll" [scrollable]="true"
                scrollHeight="400px" [rows]="5" [paginator]="true" [globalFilterFields]="['descripcion']"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Asignaturas">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        <h5 class="m-0">Lista de Asignaturas y Docentes</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th style="min-width:200px" pSortableColumn="descripcion">Asignatura <p-sortIcon
                                field="descripcion"></p-sortIcon>
                        </th>
                        <th>Accion</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-a let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="a" (click)="asigna(a)"
                                class="p-button-text p-button-rounded p-button-plain" pTooltip="Ver Docente"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td style="min-width:200px; text-align: left;">{{a.descripcion}}</td>
                        <td> <button pButton pRipple icon="pi pi-pencil" (click)="updateAsig(a)"
                                class="p-button-rounded p-button-success mr-2"></button>
                            <button pButton pRipple icon="pi pi-trash" (click)=" deleteAsig(a,$event)"
                                class="p-button-rounded p-button-warning"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-a>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <p-table [value]="a.empleados" dataKey="persona.cedula">
                                    <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="persona.cedula">Cedula Docente <p-sortIcon field="persona.cedula">
                            </p-sortIcon>
                        </th>

                        <th>Nombres del Docente</th>
                        <th>Correo del Docente</th>
                        <th>Extension del Docente</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-docente>
                    <tr>

                        <td>{{docente.persona.cedula}}</td>
                        <td>{{docente.persona.apellido}} {{docente.persona.nombre}}</td>
                        <td>{{docente.correo.correo}}</td>
                        <td>{{docente.extension.nombre_extension}}</td>
                        <td>
                        <td>
                            <button pButton pRipple icon="pi pi-trash" (click)="paneldeletedocenteasig(docente)"
                                class="p-button-rounded p-button-warning"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">No sea encontrado ningun docente</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No sea encontrado ninguna Asignatura</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total se encontro {{listasig ? listasig.length : 0 }} Asignaturas
            </div>
        </ng-template>
        </p-table>

        <p-dialog [(visible)]="panelAsig" [style]="{width: '500px',height: '500px'}" header="Agregar Asignaturas"
            [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="card-header" style="text-align: center;">
                    <h3> AREA: {{selectArea.descripcion}}</h3>
                </div>
                <br>
                <div class="field">
                    <label for="name">Ingrese el Nombre de la nueva asignatura</label>
                    <input type="text" pInputText id="name" [(ngModel)]="asig.descripcion" required autofocus />
                    <small class="p-error" *ngIf="submitted && !asig.descripcion">Se requiere el nombre de la
                        Asignatura</small>
                </div>
                <p-multiSelect [options]="empleados" [(ngModel)]="selecempleadodoc" defaultLabel="Seleccione empleado"
                    optionLabel="cargo" class="multiselect-custom">
                    <ng-template let-value pTemplate="selectedItems">
                        <div class="empleado-item empleado-item-value" *ngFor="let empe of selecempleadodoc">
                            <div>{{empe.cargo}}: {{empe.persona.apellido}} {{empe.persona.nombre}}</div>
                        </div>
                        <div *ngIf="!selecempleadodoc || selecempleadodoc.length === 0" class="country-placeholder">
                            Seleccione El Empleado
                        </div>
                    </ng-template>
                    <ng-template let-em pTemplate="item">
                        <div class="empleado-item">
                            Docente: {{em.cargo}}: {{em.persona.apellido}}{{em.persona.nombre}}
                        </div>
                    </ng-template>
                </p-multiSelect>

            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" (click)="cancelar()" icon="pi pi-times"
                    class="p-button-text"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" (click)="saveasignatura()"
                    class="p-button-text"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="panelAsigUpdate" [style]="{width: '500px',height: '500px'}" header="Agregar Asignaturas"
            [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <div class="card-header" style="text-align: center;">
                        <h3> AREA: {{selectArea.descripcion}}</h3>
                    </div>
                    <label for="name">Ingrese el Nombre de la nueva asignatura</label>
                    <input type="text" pInputText id="name" [(ngModel)]="asig.descripcion" required autofocus />
                    <small class="p-error" *ngIf="submitted && !asig.descripcion">Se requiere el nombre de la
                        Asignatura</small>
                </div>

                <p-multiSelect [options]="empleados" [(ngModel)]="selecempleadodoc" defaultLabel="Seleccione empleado"
                    optionLabel="cargo" class="multiselect-custom">
                    <ng-template let-value pTemplate="selectedItems">
                        <div class="empleado-item empleado-item-value" *ngFor="let empe of selecempleadodoc">
                            <div>{{empe.cargo}}: {{empe.persona.apellido}}{{empe.persona.nombre}}</div>
                        </div>
                        <div *ngIf="!selecempleadodoc || selecempleadodoc.length === 0" class="country-placeholder">
                            Seleccione El Empleado
                        </div>
                    </ng-template>
                    <ng-template let-em pTemplate="item">
                        <div class="empleado-item">
                            {{em.cargo}}: {{em.persona.apellido}}{{em.persona.nombre}}
                        </div>
                    </ng-template>
                </p-multiSelect>



            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" (click)="cancelar()" icon="pi pi-times"
                    class="p-button-text"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" (click)="updateAsign()"
                    class="p-button-text"></button>
            </ng-template>
        </p-dialog>
    </div>
    <!--Fin Contenido-->
</div>
</div>