<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Nomina Estudiantil</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="dropdown">
            <select name="select">
                <option value="value1">Value</option>
            </select>

            <select name="select">
                <option value="value1">Value</option>
            </select>

            <select name="select">
                <option value="value1">Value</option>
            </select>
        </div>

        <button type="button" class="btn btn-primary">Generar Certificado</button>

        <div>

        </div>

    </div>
</div>
