<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Resumen Administrativo</div>
  <div class="page__content shadow p-3 ">

    <!--Inicio Contenido-->
    <p-card>
      <p-carousel [value]="items" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
        [autoplayInterval]="5000" [responsiveOptions]="responsiveOptions">
        <ng-template let-i pTemplate="item">
          <div class="product-item">
            <div class="product-item-content">
              <p-fieldset legend=" {{i.label}}">
                <div class="{{i.icon}} product-image" style="font-size:50px;"></div>
                <div class="car-buttons mt-5" *ngIf="i.items!=null">
                  <p-scrollPanel>
                    <p-listbox style="text-align: center;" [options]="i.items" [(ngModel)]="selecMenu"
                      optionLabel="label" (onClick)="RedicMenu()">
                    </p-listbox>
                    <p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up">
                    </p-scrollTop>
                  </p-scrollPanel>

                </div>
              </p-fieldset>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </p-card>

    <!--Find Contenido-->
  </div>

</div>