@import "../../../assets/scss/pages.scss";

.product-item {
    .product-item-content {
       // border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: .3rem;
        //text-align: center;
        padding: 2rem 0;
    }

    .product-image {
        width: 30%;
        border-radius: 5px;
        //box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }
}

:host ::ng-deep .custom-scrolltop{
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    background-color: var(--primary-color);

    &:hover {
        background-color: var(--primary-color);
    }

    .p-scrolltop-icon {
        font-size: 1rem;
        color: var(--primary-color-text);
    }
}
