<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Lista de Estudiantes</div>
    <div class="page__content shadow p-3 position-relative">
        <p-toast position="top-right" key="tc"></p-toast>

        <div class="card">

            <p-table #dt [value]="estudiantes" [rows]="rows" [paginator]="true"
                [globalFilterFields]="['id_persona.cedula','id_persona.nombre','id_persona.apellido']"
                responsiveLayout="scroll" [(selection)]="selectEstudiante" [rowHover]="true" dataKey="id"
                currentPageReportTemplate="De {first} a {last} de {totalRecords} existentes"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        <h3 class="m-0">Lista de Estudiantes</h3>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar..." />
                        </span>
                    </div>
                    <div class="flex">
                        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="Importar a Excel" tooltipPosition="bottom"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>

                        <th pSortableColumn="id_persona.cedula">Cedula <p-sortIcon field="id_persona.cedula">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="id_persona.nombre">Nombre <p-sortIcon field="id_persona.nombre">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="id_persona.apellido">Apellido <p-sortIcon field="id_persona.apellido">
                            </p-sortIcon>
                        </th>
                        <th>Contacto </th>
                        <th>Direccion </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-estudiante>
                    <tr>
                        <td>{{estudiante.id_persona.cedula }}</td>
                        <!-- <td><img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" /></td> -->
                        <td>{{estudiante.id_persona.nombre | titlecase}}</td>
                        <td>{{estudiante.id_persona.apellido | titlecase}}</td>
                        <td>{{estudiante.telefono.telefono}}</td>
                        <td>{{estudiante.direccion.avPrincipal | titlecase}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2"
                                (click)="editEstudent(estudiante)"></button>
                            <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(estudiante)"></button> -->
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        En total son {{estudiantes ? estudiantes.length : 0 }} estudiantes.
                    </div>
                </ng-template>
            </p-table>
        </div>

            <p-dialog [(visible)]="productDialog" [style]="{width: '650px'}" header="Información Estudiante" [modal]="true"
            styleClass="p-fluid">
            <hr>
            <ng-template pTemplate="content" >
                <h3>Desea Editar?</h3>
                <p-toggleButton [(ngModel)]="esditable" onLabel="Habilitar" offLabel="Deshabilitar" onIcon="pi pi-check"
                    offIcon="pi pi-times" [style]="{'width': '10em'}" ></p-toggleButton>
                <!-- <img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.image" class="product-image" *ngIf="product.image"> -->
                <hr>
                <div [formGroup]="editEstudiante">
                    <div class="formgrid grid" >
                        <div class="field col-6">
                            <label for="identidadUpdate">Cedula/Pasaporte</label>
                            <input type="text" pInputText id="identidadUpdate" [(ngModel)]="estudiante.id_persona.cedula"
                                [readonly]="esditable" (change)="validaExistenciaEstudiante()" name="cedula" formControlName="cedula" />
                            <small class="p-error" *ngIf="campoValido('cedula')">Campo requerido.</small>
                        </div>
                        <div class="field col-6">
                            <label for="nombreUpdate">Nombre</label>
                            <input type="text" pInputText id="nombreUpdate" [(ngModel)]="estudiante.id_persona.nombre"
                                [readonly]="esditable" formControlName="nombre" name="nombre"/>
                            <small class="p-error" *ngIf="campoValido('nombre')">Campo requerido.</small>
                        </div>
                        <div class="field col-6">
                            <label for="apellidoUpdate">Apellido</label>
                            <input type="text" pInputText id="apellidoUpdate" [(ngModel)]="estudiante.id_persona.apellido"
                                [readonly]="esditable" formControlName="apellido" name="apellido"/>
                                <small class="p-error" *ngIf="campoValido('apellido')">Campo
                                    requerido.</small>
                        </div>
                        <div class="field col-6">
                            <label for="nacimientoUpdate">Fecha Nacimiento:</label>
                            <!-- <input type="date"  max="2004-12-31" pInputText id="nacimientoUpdate" [value]="estudiante.id_persona.fechaNacimiento | date: 'yyyy-MM-dd'" [readonly]="esditable" required />                 -->
                            <input type="date"  pInputText id="nacimientoUpdate"
                                [(ngModel)]="estudiante.id_persona.fechaNacimiento" (ngModelChange)="CalculateAge()" name="fecha" [readonly]="esditable" formControlName="fecha" />
                                <small class="p-error" *ngIf="campoValido('fecha')">Campo
                                    requerido.</small>
                        </div>
                        <div class="field col-6">
                            <label for="generoUpdate">Genero</label>
                            <p-dropdown [options]="generos" [(ngModel)]="estudiante.id_persona.genero"
                                placeholder="Seleccione Genero" optionLabel="genero" 
                                [readonly]="esditable" formControlName="genero" name="genero"></p-dropdown>
                                <small class="p-error" *ngIf="campoValido('genero')">Campo
                                    requerido.</small>
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <label class="mb-3">Contactos</label>
                        <div class="formgrid grid">
                            <div class="fiel col-6">
                                <label for="telfUpdate">Telefono</label>
                                <input pInputText id="telfUpdate" [(ngModel)]="estudiante.telefono.telefono"
                                    [readonly]="esditable" formControlName="telefono" name="telefono"/>
                            </div>
                            <div class="fiel col-6">
                                <label for="celUpdate">Celular</label>
                                <input pInputText id="celUpdate"
                                    [(ngModel)]="estudiante.telefono.numCelular " name="celular" [readonly]="esditable" formControlName="celular"/>
  
                            </div>
                            <div class="fiel col-8">
                                <label for="emailUpdate">Correo</label>
                                <input class="lowercase" type="text" pInputText id="emailUpdate" [(ngModel)]="estudiante.correo.correo"
                                    [readonly]="esditable" formControlName="email" name="email" />
                            </div>
                        </div>
                    </div>
    
                    <hr>
    
                    <div class="field">
                        <label class="mb-3">Dirección</label>
                        <div class="formgrid grid">
                            <div class="fiel col-6">
                                <label for="telfUpdate">Calle Principal</label>
                                <input type="text" id="telfUpdate" pInputText [(ngModel)]="estudiante.direccion.avPrincipal"
                                    [readonly]="esditable" formControlName="calleFirts"/>
                                    <small class="p-error" *ngIf="campoValido('calleFirts')">Campo requerido.</small>
                            </div>
                            <div class="fiel col-6">
                                <label for="celUpdate">Calle Secundaria</label>
                                <input type="text" id="celUpdate" pInputText [(ngModel)]="estudiante.direccion.avSecundaria"
                                    [readonly]="esditable" formControlName="calleSecond"/>
                                    <small class="p-error" *ngIf="campoValido('calleSecond')">Campo requerido.</small>
                            </div>
                            <div class="fiel col-6">
                                <label for="emailUpdate">Provincia</label>
                                <p-dropdown [options]="provincias" [(ngModel)]="estudiante.direccion.provincia"
                                    placeholder="Seleccione Provincia" [filter]="true" filterBy="provincia" optionLabel="provincia" 
                                    [readonly]="esditable" formControlName="provincia">
                                    <ng-template pTemplate="selectedItem" >
                                        <div class="country-item country-item-value"  *ngIf="estudiante.direccion.provincia">
                                            <div>{{estudiante.direccion.provincia.provincia}}</div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-provincias pTemplate="item">
                                        <div class="country-item">
                                            <div>{{provincias.provincia}}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                                <small class="p-error" *ngIf="campoValido('provincia')">Campo
                                    requerido.</small>
                            </div>
                            <div class="fiel col-6">
                                <label for="emailUpdate">Canton</label>
                                <p-dropdown [options]="cantones" [(ngModel)]="estudiante.direccion.canton"
                                    placeholder="Seleccione Canton"[filter]="true" filterBy="canton" optionLabel="canton" 
                                    [readonly]="esditable" formControlName="canton">
                                    <ng-template pTemplate="selectedItem">
                                        <div class="country-item country-item-value"  *ngIf="estudiante.direccion.canton">
                                            
                                            <div>{{estudiante.direccion.canton.canton}}</div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-cantones pTemplate="item">
                                        <div class="country-item">
                                            <div>{{cantones.canton}}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                                <small class="p-error" *ngIf="campoValido('canton')">Campo
                                    requerido.</small>
                            </div>
                            <div class="fiel col-6">
                                <label for="emailUpdate">Parroquia</label>
                                <p-dropdown [options]="parroquias" [(ngModel)]="estudiante.direccion.parroquia"
                                    placeholder="Seleccione parroquia" [filter]="true" filterBy="parroquia" optionLabel="parroquia" 
                                    [readonly]="esditable" formControlName="parroquia">
                                    <ng-template pTemplate="selectedItem">
                                        <div class="country-item country-item-value"  *ngIf="estudiante.direccion.parroquia">
                                            
                                            <div>{{estudiante.direccion.parroquia.parroquia}}</div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-parroquias pTemplate="item">
                                        <div class="country-item">
                                            <div>{{parroquias.parroquia}}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                                <small class="p-error" *ngIf="campoValido('parroquia')">Campo
                                    requerido.</small>
                            </div>
                        </div>
                    </div>
                
                </div>
                    
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Actualizar" icon="pi pi-check" class="p-button-text"
                    (click)="saveEstudent()" [disabled]="esditable"></button>
            </ng-template>
        </p-dialog>
            
        <!-- <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog> -->
    </div>
</div>