<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Inventario modulos</div>
  <div class="page__content shadow p-3 ">

    <!--Inicio Contenido-->
    <p-card>
      <p-table [value]="listaAprobacines" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.observacionAproba}}</td>
                <td>{{product.estadoAproba}}</td>
                <td>{{product.detalleControl}}</td>
                <td>{{product.fechaAprobacion}}</td>
            </tr>
        </ng-template>
    </p-table>
    </p-card>

    <!--Find Contenido-->
  </div>

</div>