<p-table #dt [value]="malla" [rows]="7" [paginator]="true" responsiveLayout="scroll" dataKey="id" scrollHeight="400px"
    [globalFilterFields]="['descripcion']"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Mallas Curriculares" [scrollable]="true"
    [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Lista de las Mallas Curriculares</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Descripcion Malla </th>
            <th>Modalidad</th>
            <th>Cursos Asignados</th>
            <th>Materias Asignadas</th>
            <th style="width: 8rem">
                <div class="flex justify-content-center align-items-center">
                    Estado
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-m>
        <tr>
            <td>
                <button pButton pRipple type="button" icon="fa fa-hand-o-right" class="p-button-rounded p-button-text"
                    (click)="selectMalla(m)"></button>
            </td>
            <td style="text-align: justify;">
                {{m.descripcion}}
            </td>
            <td style="text-align: justify;">
                {{m.id_modalidad.descripcion}}
            </td>
            <td>
                <div class="flex justify-content-center align-items-center">
                    <button pButton pRipple type="button" icon="fa fa-eye" (click)="verCursos(m)"
                        class="p-button-rounded p-button-secondary p-button-text"></button>
                </div>
            </td>
            <td>
                <div class="flex justify-content-center align-items-center">
                    <button pButton pRipple type="button" icon="fa fa-eye" (click)=" verAsignaturas(m)"
                        class="p-button-rounded p-button-secondary p-button-text"></button>
                </div>
            </td>
            <td>
                <p-toggleButton [(ngModel)]="m.estado" onLabel="Activo" offLabel="Expirado" [disabled]="true"
                    [style]="{'width': '5em'}"></p-toggleButton>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            En total se encontro {{malla ? malla.length : 0 }} Mallas Curriculares.
        </div>
    </ng-template>
</p-table>