<div class="card" >
    <p-table #dt [value]="categorias" [rows]="10" [paginator]="true" [globalFilterFields]="['cateNombre','cateCodigo']" responsiveLayout="scroll"
        [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id_categoria">#<p-sortIcon field="id_categoria"></p-sortIcon></th>
                <th pSortableColumn="cateNombre">Nombre <p-sortIcon field="cateNombre"></p-sortIcon></th>
                <th pSortableColumn="cateCodigo">Codigo <p-sortIcon field="cateCodigo"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-categoria>
            <tr>
                <td >
                    No hay categorias
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-categoria>
            <tr>
                <td>{{categoria.id_categoria}}</td>
                <td>{{categoria.cateNombre}}</td>
                <td>{{categoria.cateCodigo}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" [routerLink]="['/inventariosModule/categoria/editar/', categoria.id_categoria]"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="eliminarCategoria(categoria)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{categorias ? categorias.length : 0 }} categorias.
            </div>
        </ng-template>
    </p-table>
</div>
<p-confirmDialog [style]="{width: '650px'}"></p-confirmDialog>