<mat-nav-list>
    <div class="logo py-4">
        <img src="assets/img/logo.png" alt="" srcset="" class="imgMenu">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Menu Administrativo</h2>
  
        <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
            <mat-icon>home</mat-icon>Home
        </a>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
            <mat-icon>dashboard</mat-icon>Dashboard
        </a>
    
        <a mat-list-item >
            <mat-icon>edit</mat-icon>Link 3
        </a>
        <a mat-list-item >
            <mat-icon>edit</mat-icon>Link 4
        </a>
        <a mat-list-item >
            <mat-icon>edit</mat-icon>Link 5
        </a>
        <a mat-list-item >
            <mat-icon>home</mat-icon>Home
        </a>
        <a mat-list-item >
            <mat-icon>edit</mat-icon>Link 3
        </a>
        <a mat-list-item >
            <mat-icon>edit</mat-icon>Link 4
        </a>
       
        
</mat-nav-list>
<!-- <p-panelMenu [model]="items" [style]="{'width':'250px'}"></p-panelMenu> -->