<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2"> Revisar Plan de unidad</div>
    <div class="page__content shadow p-3 ">
        <!--Inicio Contenido-->
        <div class="container-fluid px-4">
            <!--Implementacion de la tabla de planes de unidad pendientes-->
            <div *ngIf="mostrarTablePendientes">
                <h1>PLANES DE UNIDAD PENDIENTES</h1>
                <p-table #dt [value]="planunidadpendientes" [rows]="10" [paginator]="true"
                    [globalFilterFields]="['asignatura.descripcion','titulo_unidad','unidad.idUnidad','empleado.persona.apellido']"
                    responsiveLayout="scroll" [rowHover]="true" dataKey="id_plan_unidad"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="flex align-items-center justify-content-between">
                            <h5 class="m-0">Administrar Planes de unidad por (Asignatura, Apellido del docente, Unidad o
                                Titulo)</h5>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                    placeholder="Search..." />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="id_plan_unidad">Id
                                <p-sortIcon field="id_plan_unidad"></p-sortIcon>
                            </th>
                            <th pSortableColumn="asignatura.descripcion">Asignatura
                                <p-sortIcon field="asignatura.descripcion"></p-sortIcon>
                            </th>
                            <th pSortableColumn="empleado.persona.apellido">Docente
                                <p-sortIcon field="empleado.persona.apellido">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="unidad.idUnidad">Unidad
                                <p-sortIcon field="unidad.idUnidad"></p-sortIcon>
                            </th>
                            <th pSortableColumn="titulo_unidad">Titulo
                                <p-sortIcon field="titulo_unidad"></p-sortIcon>
                            </th>
                            <th pSortableColumn="fecha_inicio">Inicio-Fin
                                <p-sortIcon field="fecha_inicio"></p-sortIcon>
                            </th>
                            <th pSortableColumn="estado">Estado </th>
                            <th>Revisar</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td>{{item.id_plan_unidad}}</td>
                            <td>{{item.asignatura.descripcion}}</td>
                            <td>{{item.empleado.persona.nombre}} {{item.empleado.persona.apellido}}</td>
                            <td>{{item.unidad.idUnidad}}</td>
                            <td>{{item.titulo_unidad}}</td>
                            <td>{{item.fecha_inicio | date:'MMMdd,yyyy'}} a {{item.fecha_fin | date:'MMMdd,yyyy'}}
                            </td>
                            <td>{{item.estado}}</td>
                            <td>
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2" (click)="abrir(item)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="flex align-items-center justify-content-between">
                            In total there are {{planunidadpendientes ? planunidadpendientes.length : 0 }} planes de
                            unidad.
                        </div>
                    </ng-template>
                </p-table>
            </div>
            <br>
            <div *ngIf="mostrarForm">
                <form [formGroup]="revisar_planunidadForm">
                    <div *ngIf="mostrarObservacionesAnt" class="border bg-light">
                        <h3>Anteriormente revisado por {{verCoorAcademico}} Coor. Academico, el {{verFechaRevision |
                            date:'longDate'}}.</h3>
                        <label style="font-size:17px;">Observaciones a corregir:</label>
                        <input type="text" class="form-control" style="border: 0px;" name="observacionesant"
                            value={{verObservaciones}} disabled><br>
                    </div><br>
                    <div class="container-fluid border bg-light">
                        <div class="container-fluid">
                            <!-- Implementacion del Grid para el diseño del formulario -->
                            <!-- Implementacion del Enacabezado-->
                            <div class="row">
                                <div class="col">
                                    <label style="font-size:15px;">
                                        ID del plan: {{id}}</label>
                                </div>
                                <div class="col-sm-4" style="text-align:center;"><br>
                                    <label style="font-size:23px; font-weight:bold;">
                                        PLAN DE UNIDAD No {{verUnidad}}</label>
                                </div>
                                <div class="col" style="text-align:right;">
                                    <br>
                                    <label style="font-size:17px;">{{verFechaCreacion | date:'longDate'}}</label>
                                </div>
                            </div>
                            <!-- Implementacion del Grid para el diseño del formulario -->
                            <!-- Dentro de Parte 2, Etiquetas para mostrar algunos datos-->
                            <label style="font-size:18px; font-size:18px; font-weight:bold;">
                                Docente:</label>
                            <label style="font-size:18px; margin-left: 10px;">
                                {{verEmpleado}}</label><br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label style="font-size:18px; font-size:18px; font-weight:bold;">
                                        Periodo:</label>
                                    <label style="font-size:18px; margin-left: 10px;">
                                        {{verPeriodoFinicio | date:'dd/MM/yyyy'}} - {{verPeriodoFfin |
                                        date:'dd/MM/yyyy'}}</label><br>
                                    <label style="font-size:18px; font-size:18px; font-weight:bold;">
                                        Modalidad:</label>
                                    <label style="font-size:18px; margin-left: 10px;">
                                        {{verModalidad}}</label><br>
                                    <label style="font-size:18px; font-size:18px; font-weight:bold;">
                                        Asignatura:</label>
                                    <label style="font-size:18px; margin-left: 10px;">
                                        {{verAsigNom}}</label><br>
                                </div>
                                <div class="col-sm-6">
                                    <label style="font-size:18px; font-size:18px; font-weight:bold;">
                                        Malla:</label>
                                    <label style="font-size:18px; margin-left: 10px;">
                                        {{verPeriodoMalla}}</label><br>
                                    <label style="font-size:18px; font-size:18px; font-weight:bold;">
                                        Curso:</label>
                                    <label style="font-size:18px; margin-left: 10px;">
                                        {{verCurso}} {{verParalelo}}</label><br>
                                    <label style="font-size:18px; font-size:18px; font-weight:bold;">
                                        Area:</label>
                                    <label style="font-size:18px; margin-left: 10px;">
                                        {{area}}</label><br>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h2>Fecha de inicio:</h2>
                                    <input type="date" class="form-control" name="date" formControlName="fecha_inicio"
                                        readonly>
                                </div>
                                <div class="col-sm-4">
                                    <h2>Fecha de fin:</h2>
                                    <input type="date" class="form-control" name="date" formControlName="fecha_fin"
                                        readonly>
                                </div>
                                <div class="col-sm-4">
                                    <h2>N° de periodos:</h2>
                                    <input type="text" class="form-control" formControlName="num_periodos" pInputText
                                        readonly>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <h2>Titulo de Unidad</h2>
                                        <textarea class="form-control" formControlName="titulo_unidad" [rows]="2"
                                            pInputTextarea [autoResize]="autoResize" readonly></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <h2>Objetivos especificos de la unidad</h2>
                                        <textarea class="form-control" formControlName="objetivos" [rows]="2"
                                            pInputTextarea [autoResize]="autoResize" readonly></textarea>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <h2>Criterios de evaluacion</h2>
                                        <textarea class="form-control" formControlName="criterios_evaluacion" [rows]="3"
                                            pInputTextarea [autoResize]="autoResize" readonly></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <h2>Destrezas con criterio de desempeño</h2>
                                        <textarea class="form-control" formControlName="destrezas" [rows]="3"
                                            pInputTextarea [autoResize]="autoResize" readonly></textarea>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="container-fluid border">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" style="text-align:center;">
                                            <label style="font-size:17px;">ACTIVIDADES DE
                                                APRENDIZAJE</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <h2>Experiencia.</h2>
                                                <textarea class="form-control" formControlName="act_experiencia"
                                                    [rows]="3" pInputTextarea [autoResize]="true" readonly></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <h2>Conceptualización.</h2>
                                                <textarea class="form-control" formControlName="act_conceptualizacion"
                                                    [rows]="3" pInputTextarea [autoResize]="true" readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <h2>Reflexión.</h2>
                                                <textarea class="form-control" formControlName="act_reflexion"
                                                    [rows]="3" pInputTextarea [autoResize]="true" readonly></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <h2>Aplicación.</h2>
                                                <textarea class="form-control" formControlName="act_aplicacion"
                                                    [rows]="3" pInputTextarea [autoResize]="true" readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="container-fluid border">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" style="text-align:center;">
                                            <label style="font-size:17px;">EVALUACIÓN SUMATIVA</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <h2>Indicadores para evaluación del criterio.</h2>
                                                <textarea class="form-control" formControlName="indicadores" [rows]="3"
                                                    pInputTextarea [autoResize]="true" readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <h2>Técnicas e instrumentos.</h2>
                                                <textarea class="form-control" formControlName="tecnicas" [rows]="3"
                                                    pInputTextarea [autoResize]="true" readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <h2>Recursos.</h2>
                                            <textarea class="form-control" formControlName="recursos" [rows]="3"
                                                pInputTextarea [autoResize]="true" readonly></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <h2>Adaptación de la necesidad educativa.</h2>
                                            <textarea class="form-control" formControlName="adap_necesidad_educativa"
                                                [rows]="3" pInputTextarea [autoResize]="true" readonly></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <h2>Adaptaciones curriculares.</h2>
                                            <textarea class="form-control" formControlName="adaptaciones_curriculares"
                                                [rows]="3" pInputTextarea [autoResize]="true" readonly></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <h2>Especificación de la nesesidad a ser aplicada.</h2>
                                            <textarea class="form-control" formControlName="especificacion_nesesidad"
                                                [rows]="3" pInputTextarea [autoResize]="true" readonly></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div align="center">
                                <button type="submit" class="btn btn-secondary btn-lg" [disabled]="btnRegresarEnviar"
                                    (click)="retroceder()">Regresar</button>
                                <button type="submit" class="btn btn-success btn-lg" [disabled]="btnRegresarEnviar"
                                    (click)="aprobar()">Aprobar</button>
                                <button type="submit" class="btn btn-danger btn-lg"
                                    (click)="abrirObservaciones()">Rechazar</button>
                            </div>
                            <br>
                        </div>
                        <br>
                    </div>
                    <p-dialog [(visible)]="mostrarObservaciones" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
                        [style]="{width: '50vw'}" position="bottom" [closable]="false" [modal]="true"
                        [draggable]="false">
                        <div class="container-fluid border bg-light">
                            <h2>Observaciones</h2>
                            <textarea class="form-control" formControlName="observaciones" [rows]="3"
                                placeholder="Detalle los puntos a corregir en el Plan de unidad" pInputTextarea
                                [autoResize]="autoResize" autofocus></textarea>
                            <span class="form-text text-danger" style="font-size:10px;" *ngIf="mostrarmsg">
                                Campo obligatorio!
                            </span><br>
                            <div align="center">
                                <button type="submit" class="btn btn-secondary"
                                    (click)="cancelarObs()">Cancelar</button>
                                <button type="submit" class="btn btn-primary" (click)="rechazar()">Enviar</button>
                            </div><br>
                        </div>
                    </p-dialog>
                </form>
            </div>
        </div>
        <!--Fin Contenido-->
    </div>
</div>