<div class="container">
    <form [formGroup]="inventarioForm" (ngSubmit)="realizarAccion()" >
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <!-- Fecha  -->
                <div class="field">
                    <label for="fecha" class="block">Fecha ingreso</label>
                    <p-calendar styleClass="w-100" 
                                dateFormat="yy-mm-dd" 
                                inputId="dateformat"
                                formControlName="fechaingreso">
                    </p-calendar>
                    <small  class="p-error block"
                            *ngIf="verificarCampo('fechaingreso')">
                            La fecha es requerida.
                    </small>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <!-- categoria -->
                <div class="field">
                    <label for="categoria" class="block">Categoría</label>
                    <p-dropdown [options]="categoriasArticulos"
                                [styleClass]=" !verificarCampo('cateId') ? 'border w-100' : 'w-100'"   
                                [ngClass]="{'ng-invalid ng-dirty ' : verificarCampo('cateId')}"
                                optionLabel="cateNombre"
                                [filter]="true"
                                filterBy="cateNombre"
                                [showClear]="true"
                                placeholder="Seleccione una categoria"
                                formControlName="cateId">
                    </p-dropdown>
                    <small  class="p-error block"
                            *ngIf="verificarCampo('cateId')">
                            La categoría es requerida.
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <!-- nombre -->
                <div class="field">
                    <label for="nombre" class="block">Nombre</label>
                    <input  type="text" 
                            class="w-100"
                            pInputText 
                            formControlName="artinombre"/>
                    <small  class="p-error block"
                            *ngIf="verificarCampo('artinombre')">
                            El nombre es requerido.
                    </small>
                </div>
                <!-- marca -->
                <div class="field">
                    <label for="marca" class="block">Marca</label>
                    <input  type="text" 
                            class="w-100"
                            pInputText 
                            formControlName="artimarca"/>
                    <small  class="p-error block"
                            *ngIf="verificarCampo('artimarca')">
                            La marca es requerida.
                    </small>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <!-- precio -->
                <div class="field">
                    <label for="precio" class="block">Precio</label>
                    <input  type="number"  
                            class=" w-100" 
                            pInputText 
                            formControlName="artiprecio"/>
                    <small  class="p-error block"
                            *ngIf="verificarCampo('artiprecio')">
                            El precio es requerido.
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <!-- descripcion -->
                <div class="field">
                    <label for="descripcion" class="block">Número de Serie o Referencia del artículo</label>
                    <textarea   rows="2"    
                                class="w-100"
                                pInputTextarea [autoResize]="true"
                                formControlName="artidescrip">
                    </textarea>
                    <!-- <small  class="p-error block"
                            *ngIf="verificarCampo('tipoAprobacion')">
                            El tipo es requerido.
                    </small> -->
                </div>
                <!-- observacion -->
                <div class="field">
                    <label for="observacion" class="block">Observación</label>
                    <textarea   rows="2"    
                                class="w-100"
                                pInputTextarea [autoResize]="true"
                                formControlName="observacion">
                    </textarea>
                    <!-- <small  class="p-error block"
                            *ngIf="verificarCampo('tipoAprobacion')">
                            El tipo es requerido.
                    </small> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-evenly">
                <button pButton 
                        pRipple 
                        type="button" 
                        label="Cancelar" 
                        icon="pi pi-times" 
                        class="p-button-outlined p-button-danger" 
                        iconPos="right"
                        routerLink="listar">
                </button>
                <button pButton 
                        pRipple type="submit" 
                        label="Guardar" 
                        icon="pi pi-save" 
                        iconPos="right"
                        [disabled]="inventarioForm.pending"
                        >
                </button>
            </div>
        </div>
    </form>
</div>