<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Lista de Articulos</div>
  <div class="page__content shadow p-3 position-relative">

    <!--Inicio Contenido-->
    <p-table [value]="articulos" responsiveLayout="scroll">
      <ng-template pTemplate="header">
          <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Category</th>
              <th>Quantity</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-articulo>
          <tr>
              <td>{{articulo.articodigo}}</td>
              <td>{{articulo.artinombre}}</td>
              <td>{{articulo.artimarca}}</td>
              <td>{{articulo.artiestado}}</td>
          </tr>
      </ng-template>
  </p-table>
    <!--Find Contenido-->
  </div>

</div>